{% extends "NzoTunisiefretBundle::layout.html.twig" %}
{% block title %} {{ parent() }} Se Connecter{% endblock %}
   {% block banner %}
            <div class="jumbotron">
                <div class="col-md-4"> 
                    <div class="row">
                        <h4 class="title-banner" style="">Se Connecter</h4>
                    </div>
            </div>
        </div>
        {% endblock banner %}
{% block content %}

<form role="form" class="well col-md-5 col-md-offset-3" style="padding: 40px" action="{{ path("fos_user_security_check") }}">
  <fieldset>
    <legend class="colorlegend"><strong>Se Connecter</strong></legend>
    {% if error %}
       <div class="alert alert-error text-center">{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}
    <div class="form-group">
      <label for="disabledTextInput">Nom D'utilisateur</label>
      <input type="text" name="_username" value="{{ last_username }}" required="required" placeholder="Entrez Votre Nom D'utilisateur" class="form-control">
                   
    </div>
    <div class="form-group">
      <label for="disabledSelect">Mot de Passe</label>
        <input type="password" type="password" name="_password" required="required" placeholder="Entrez Votre Mot de Passe" class="form-control">
        <a href="{{path('fos_user_resetting_request')}}" class="pull-right">Forgot your password?</a>
   
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Se Souvenir de Moi
      </label>
    </div>
    <button type="submit" class="btn btn-primary pull-right" name="_submit" >Se Connecter</button>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
  </fieldset>
</form>
   

    
{% endblock content %}
