{% extends "NzoTunisiefretBundle::layoutExportateur.html.twig" %}

{% block title %} {{ parent() }} Exportateur {% endblock %}
{% block banner %}
    <div class="jumbotron">
        <div class="col-md-4"> 
            <div class="row">
                <h4 class="title-banner" style="">liste Demande Export</h4>
            </div>
        </div>
    </div>
{% endblock banner %}

{% block content %}
<div class="col-md-8 col-md-offset-2 well">
{% for demande in demandeexport %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
        <a href="{{path('nzo_postuledemande_export', {'id':demande.id} )}}"> {{demande.titre}} </a>
        <span class="pull-right">{{demande.datedepos|date("d/m/Y H:i")}}</span>
    </h3>
    
  </div>
  <div class="panel-body">
    {%if render(controller('NzoTunisiefretBundle:Exportateur:GetEtat', {'id': demande}))=='true'%}
        Déja Posté
    {%else%}
        Pas Encore Poster
    {%endif%}
    
    <br>
    {%if demande.description|length > 150%}
        {{ demande.description|slice(0, 150) }}...
    {%else%}
        {{demande.description}}
    {%endif%}
  </div>
</div>
{% endfor %}

    <div class="navigation">
    {{ knp_pagination_render(demandeexport) }}
    </div>
    </div>
{% endblock content %}
