{% extends "NzoTunisiefretBundle::layoutExportateur.html.twig" %}

{% block title %} {{ parent() }} Liste Des Demandes Export{% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style="">Liste Des Demandes Export</h4>
        </div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="padding">
<div class="row" style="padding-right: 16px;">
    <div class="col-md-9 pull-left">
        <ul id="breadcrumbs-two" style="margin-top: 14px;">
            <li class="current"><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes Export</a></li>
        </ul>
    </div>
   <div class="pull-right">
        {{ knp_pagination_render(demandeexport) }}
    </div>
</div>
<div class="list-group">
    
    
    
<a href=""><img class="media-object img-thumbnail" src="{{ asset('exportateurfilesupload/')}}{{app.user.logoname}}" alt="" width="100" height="100"></a>
<span id="nzoratingstar"></span> {%if app.user.note > -1%} <strong>({{app.user.note}})</strong>{%endif%}
{{app.user.nomentrop}}
<br> <a href="{{ path('fos_user_profile_show') }}">Voir Profil</a>
<br> <a href="{{ path('fos_user_profile_edit') }}" > Modifier Profil</a>

<br> <br>
Analyse:
<br>Nombre Demande active: {{nbactive}}
<br>Nombre Postules: {{app.user.nbdemandeexportpostule}}
<br>Nombre Contrat En Cours: {{app.user.nbcontratencours}}
<br>Nombre Contrat Terminé: {{app.user.nbcontrattermine}}
<br>Nombre Demande Archivé: {{nbarchive}}

<br> <br>  
    
    
    
    {% for demande in demandeexport %}
        {%set djp = render(controller('NzoTunisiefretBundle:Exportateur:GetEtat', {'id': demande}))%}
        <div class="list-group-item" style="padding: 30px;">
            <div class="legend list-group-item-heading">
                <h4 class="cl-effect-1">
                    {%if djp == 'false'%}
                    <a href="{{path('nzo_postuledemande_export', {'id':demande.id} )}}">{{demande.titre}}</a></h4>    
                    {%else%}
                    <a href="{{path('exp_detail_postule_active', {'id':djp} )}}">{{demande.titre}}</a></h4>    
                    {%endif%}
                      
            </div>
            <p style="color: grey;">Etat: 
                {%if djp == 'false'%}
                    Pas Encore Poster  
                {%else%}
                    Déja Posté
                {%endif%}
                    | Déposer le {{demande.datedepos|date("d/m/Y")}}</p>
            <p class="list-group-item-text">
                {% if demande.description|length > 150 %}
                    {{demande.description|slice(0, 150)}}...
                {%else%}
                    {{demande.description}}
                {% endif %}                
                {%if djp == 'false'%}
                    <a href="{{path('nzo_postuledemande_export', {'id':demande.id} )}}" class="pull-right"> Voir détails </a>
                {%else%}
                    <a href="{{path('exp_detail_postule_active', {'id':djp} )}}" class="pull-right"> Voir détails </a>
                {%endif%}
            </p>
              
        </div>
    {% endfor %}
</div>
<div class="row" style="padding-right: 16px;">
    <div class="pull-right">
        {{ knp_pagination_render(demandeexport) }}
    </div>
</div>
{% endblock content %} 

{% block js %} 
    <script src="{{ asset('bundles/nzotunisiefret/js/jquery.raty.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#nzoratingstar').raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{app.user.note}} });
        });   
    </script>
{% endblock js %} 