{% extends "NzoTunisiefretBundle::layoutExportateur.html.twig" %}

{% block title %} {{ parent() }} Exportateur {% endblock %}

{% block head %}
{% endblock head %}

{% block body %}

{% block content %}

<br> liste Demande Export <br>

{% for demande in demandeexport %}
    titre:  {{demande.titre}} <br>
    Date: {{demande.datedepos|date("d/m/Y H:i")}}  | 
    {%if render(controller('NzoTunisiefretBundle:Exportateur:GetEtat', {'id': demande}))=='true'%}
        Déja Posté
    {%else%}
        <a href="{{path('nzo_postuledemande_export', {'id':demande.id} )}}"> Poster </a> 
    {%endif%}
    
    <br>
    {%if demande.description|length > 150%}
        {{ demande.description|slice(0, 150) }}...
    {%else%}
        {{demande.description}}
    {%endif%}
    <br>
    -----------------------------------------------------
{% endfor %}
    
    <div class="navigation">
    {{ knp_pagination_render(demandeexport) }}
    </div>

{% endblock content %}

{% block footer %}
{% endblock footer %}

{% endblock body %}  
 