{% extends "NzoTunisiefretBundle::layoutExportateur.html.twig" %}

{% block title %} {{ parent() }} Liste Des Demandes Fret{% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="">Liste Des Demandes Fret</h4>
        </div>
    </div>
</div>

{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-4 actives"><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Postules <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('exp_liste_postule_active') }}" >Active</a></li>
                    <li><a href="{{ path('exp_liste_postule_archive') }}" >Archivé</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('exp_liste_contrats_en_cours') }}" >En Cours</a></li>
                    <li><a href="{{ path('exp_liste_contrats_termine') }}" >Terminé</a></li>
                </ul>
            </li>
        </ul>

        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li class="activedrop"><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes</a></li>
                <li class="sanslien"><strong>Mes Postules</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('exp_liste_postule_active') }}" >Active</a></li>
                        <li><a href="{{ path('exp_liste_postule_archive') }}" >Archivé</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('exp_liste_contrats_en_cours') }}" >En Cours</a></li>
                        <li><a href="{{ path('exp_liste_contrats_termine') }}" >Terminé</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
    
        {# Notif Block#}
        <div id='nzonotice' class="alert alert-success animated fadeInDown" style='display:none;'>
            <span id='spannzonotice'></span>
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        </div>
    {# Notif Block#}
    {#---------arboresence------------#}
    <div class="col-md-9 pull-left">
        <ul id="breadcrumbs-two" style="margin-top: 14px;">
            <li class="current"><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes Fret</a></li>
        </ul>
    </div>  
    <!--recherche-->
    <form action="{{path('exp_recherche',{'type':'Active'})}}" method="GET" role="form" id='avisform' class="navbar-form pull-right" style="padding:0;margin-top: 30px;">
        <div class="input-group">
            <input type="text" name='mot' placeholder="Recherche..." class="form-control" style="width: 163px;height: 26px;">
            <button type="submit" class="btn btn-default btn-xs" style="border-radius:0"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </form>
    <!--/recherche-->
     <div class="row"></div>
    <hr>
   
    <div class="row">
        {#---------dashboard------------#}
        <div class=" col-md-3">
            <div class="panel panel-default bottom">
                <div class="panel-heading"><strong>Profil</strong></div>
                <div class="panel-body">
                   <a href="{{ path('fos_user_profile_show') }}">
                        <img class="media-object img-thumbnail col-md-offset-3" src="{{ asset('exportateurfilesupload/')}}{{app.user.logoname}}" alt="" width="100" height="100">
                        <p class="text-center"><strong>{{app.user.nomentrop}}</strong></p>
                    </a>
                    <span id="nzoratingstar" class="col-md-offset-2"></span> {%if app.user.note > -1%} <strong>({{app.user.note}})</strong>{%endif%}
                    <hr>
                    <div class="cl-effect-1">
                        <p><a href="{{ path('exp_profil_public') }}">Voir votre Profil Public</a></p>
                        <p><a href="{{ path('fos_user_profile_edit') }}" >Modifier votre Profil</a></p>
                    </div> 
                 </div>
            </div>
            <div class="panel panel-default bottom">
                <div class="panel-heading"><strong>Analyse</strong></div>
                    <table class="table">
                        <tr>
                            <th class="info">Type</th>
                            <th class="info">Nombre</th>
                        </tr>
                        <tr>
                            <td>Demande active</td>
                            <td>{{nbactive}}</td>
                        </tr>
                        <tr>
                            <td>Postules</td>
                            <td>{{app.user.nbdemandeexportpostule}}</td>
                        </tr>
                        <tr>
                            <td>Contrat En Cours</td>
                            <td>{{app.user.nbcontratencours}}</td>
                        </tr>
                        <tr>
                            <td>Contrat Terminé</td>
                            <td>{{nbarchive}}</td>
                        </tr>
                    </table>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row" style="padding-right: 16px;">
                <div class="pull-right">
                     {{ knp_pagination_render(demandeexport) }}
                 </div>
            </div>
            <div class="list-group">
                {% if demandeexport is empty %}
                <p class="alert alert-info">Il n'existe aucune demamnde de fret !</p>
                {%else%}
                {% for demande in demandeexport %}
                    {%set djp = render(controller('NzoTunisiefretBundle:Exportateur:GetEtat', {'id': demande.id | urlencrypt}))%}
                <div class="list-group-item" style="padding: 30px;">
                        <div class="legend list-group-item-heading padding-bottom">
                            <h4 class="cl-effect-1 pull-left">
                                {%if djp == 'false'%}
                                <a href="{{path('nzo_postuledemande_export', {'id':demande.id | urlencrypt} )}}">{{demande.titre}}</a>
                            </h4>    
                                {%else%}
                                <h4 class="cl-effect-1 pull-left"><a href="{{path('exp_detail_postule_active', {'id':djp | urlencrypt} )}}">{{demande.titre}}</a></h4>    
                                {%endif%}
                           <h5 class="pull-right text-danger">{{demande.type}}</h5>
                        </div>
                        <p style="color: grey;">Etat: 
                            {%if djp == 'false'%}
                                Pas Encore Poster  
                            {%else%}
                                Déja Posté
                            {%endif%}
                                | Déposer le {{demande.datedepos|date("d/m/Y")}}</p>
                        <p class="list-group-item-text">
                            {% if demande.description|length > 150 %}
                                {{demande.description|slice(0, 150)}}...
                            {%else%}
                                {{demande.description}}
                            {% endif %}                
                            {%if djp == 'false'%}
                                <a href="{{path('nzo_postuledemande_export', {'id':demande.id | urlencrypt} )}}" class="pull-right"> Voir détails </a>
                            {%else%}
                                <a href="{{path('exp_detail_postule_active', {'id':djp | urlencrypt} )}}" class="pull-right"> Voir détails </a>
                            {%endif%}
                        </p>
                    </div>
                {% endfor %}
                {% endif %}
                </div>
                <div class="row" style="padding-right: 16px;">
                    <div class="pull-right">
                        {{ knp_pagination_render(demandeexport) }}
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock content %} 

{% block js %} 
    <script src="{{ asset('bundles/nzotunisiefret/js/jquery.raty.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#nzoratingstar').raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{app.user.note}} });
        });   
    </script>
{% endblock js %} 