{% extends "NzoTunisiefretBundle::layoutExportateur.html.twig" %}
{% block title %} {{ parent() }} Liste des Notifications {% endblock %}

{% block banner %}
{#----------------Bannier de la page----------------#}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style="">Liste des Notifications</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-3"><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Postules <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('exp_liste_postule_active') }}" >Active</a></li>
                    <li><a href="{{ path('exp_liste_postule_archive') }}" >Archivé</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('exp_liste_contrats_en_cours') }}" >En Cours</a></li>
                    <li><a href="{{ path('exp_liste_contrats_termine') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="#" >Statistique</a></li>
        </ul>

        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes</a></li>
                <li class="sanslien"><strong>Mes Postules</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('exp_liste_postule_active') }}" >Active</a></li>
                        <li><a href="{{ path('exp_liste_postule_archive') }}" >Archivé</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('exp_liste_contrats_en_cours') }}" >En Cours</a></li>
                        <li><a href="{{ path('exp_liste_contrats_termine') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="#" >Statistique</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
    <div class="row bottom" style="padding-right: 16px;">
        {#----------------Arborescence----------------#}
        <div class="col-md-9 pull-left">
            <ul id="breadcrumbs-two" style="margin-top: 14px;">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
                <li class="current"><span>Liste des Notifications</span></li>
            </ul>
        </div>
        {#----------------Pagination----------------#}
        <div class="pull-right">
            {{ knp_pagination_render(listenotifications) }}
        </div>
    </div>

    {#----------------Titre de la page----------------#}
    <div class="legend2">
        <h4>La Liste de Vos Notifications</h4>
    </div>

    {#----------------Liste des notificaitons----------------#}       
    {% for notif in listenotifications %}
        <div class="list-group-item alert-notif bottom">
            <div class="list-group-item-heading">
              <a href="{{notif.url}}"> <h5 class="pull-left">{{notif.text|raw}}</h5></a>
                <div class="row" style="padding-right: 14px;">
                    <div class=" pull-right">
                        <strong>{{notif.date|date("d/m/Y")}}</strong> 
                    </div>
                </div>
            </div>
        </div>
    {%endfor%}

    {#----------------pagination----------------#} 
    <div class="row" style="padding-right: 16px;">
        <div class="pull-right">
            {{ knp_pagination_render(listenotifications) }}
        </div>
     </div>
</div>
{% endblock content %} 
 