{% extends "NzoTunisiefretBundle::layoutExportateur.html.twig" %}
{% block title %} {{ parent() }} Liste des Notifications Messages{% endblock %}

{% block banner %}
{#----------------Bannier de la page----------------#}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style="">Liste des Notifications des Messages</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-3"><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Postules <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('exp_liste_postule_active') }}" >Active</a></li>
                    <li><a href="{{ path('exp_liste_postule_archive') }}" >Archivé</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('exp_liste_contrats_en_cours') }}" >En Cours</a></li>
                    <li><a href="{{ path('exp_liste_contrats_termine') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="#" >Statistique</a></li>
        </ul>

        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes</a></li>
                <li class="sanslien"><strong>Mes Postules</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('exp_liste_postule_active') }}" >Active</a></li>
                        <li><a href="{{ path('exp_liste_postule_archive') }}" >Archivé</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('exp_liste_contrats_en_cours') }}" >En Cours</a></li>
                        <li><a href="{{ path('exp_liste_contrats_termine') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="#" >Statistique</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
    <div class="row bottom" style="padding-right: 16px;">
        {#----------------Arborescence----------------#}
        <div class="col-md-9 pull-left">
            <ul id="breadcrumbs-two" style="margin-top: 14px;">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
                <li class="current"><span>Liste des Notifications des Messages</span></li>
            </ul>
        </div>
        {#----------------Pagination----------------#}
        <div class="pull-right">
            {{ knp_pagination_render(listemessages) }}
        </div>
    </div>

    {#----------------Titre de la page----------------#}
    <div class="legend2">
        <h4>La Liste de Notifications de Vos Messages</h4>
    </div>
    
    {#----------------Liste des notificaitons----------------#} 
    {% if listemessages is empty %}
        <p class="alert alert-info">Vous n'avez aucun message.</p>
    {%else%}    
    {% for notif in listemessages %}
    <div class="panel panel-info bottom" {%if not notif.vumsg %} style="border-color: rgb(230, 173, 173);background-color: rgb(253, 242, 242)" {% endif %}>
        <div class="panel-body">
            <div class="media">
                <span class="pull-left">
                    <img class="media-object img-thumbnail" src="{{ asset('clientfilesupload/')}}{{notif.logoemetteur}}" alt="image"  width="80">
                </span>
                <div class="media-body">
                    <h4 class="media-heading"><strong class="pull-left">{{notif.emetteur}}</strong><span class="pull-right">{{notif.date|date("d/m/Y")}}</span></h4>
                    <br>
                    <p style="color: grey">{{notif.titredemandeexport}}</p>
                    <p class="list-group-item-text">
                        {% if notif.text|length > 100 %}
                            {{notif.text|slice(0, 100)}}...
                        {%else%}
                            {{notif.text}}
                        {% endif %}
                        <a href="{{notif.url}}" class="pull-right"> Voir détails </a>
                    </p>
               </div>
            </div>
        </div>
    </div>
    {%endfor%}
    {% endif %}
    {#----------------Pagination----------------#} 
    <div class="row" style="padding-right: 16px;">
        <div class="pull-right">
            <div class="navigation">
                {{ knp_pagination_render(listemessages) }}
            </div>
        </div>
    </div>
</div>
{% endblock content %} 
 