{% extends "NzoTunisiefretBundle::layoutExportateur.html.twig" %}

{% block title %} {{ parent() }} Détail Demande Export {% endblock %}

{% block head %}
{% endblock head %}

{% block body %}

{% block content %}

<br> Détail Demande Export
<br>
    titre demande export:  {{demandeexport.titre}} <br>
    Date dépos: {{demandeexport.datedepos|date("d/m/Y H:i")}}  | 
    {%if val=='true'%}
        Déja Posté
    {%else%}
        Pas Encore Poster
    {%endif%}
    
    <br>
        {{demandeexport.description}}
    <br>
    -----------------------------------------------------
<br>    
Client: <br>
Nom Entreprise: {{demandeexport.client.nomentrop}} <br>
Nombre de Demande export déposé: {{demandeexport.client.nbdemandeexportdepose}} <br>
Logo: <img class="media-object" src="{{ asset('clientfilesupload/')}}{{demandeexport.client.logoname}}" width="100" height="100" class="img-thumbnail"> <br>
Note: {{demandeexport.client.note}} <br>

<br>
{%if val=='false'%}   
<form action="#" id="contactForm" method="post" {{ form_enctype(form) }}>

  {{ form_widget(form) }}

    <!--bouton enregistrer-->
    <div class="buttons-set">
        <p class="required">* Obligatoire</p>
        <button type="submit" class="button"><span><span>Enregistrer</span></span></button>
    </div>
</form>
{%endif%} 
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% endblock body %}  
 