{% extends "NzoTunisiefretBundle::layoutExportateur.html.twig" %}

{% block title %} {{ parent() }} Profil Client {% endblock %}
{% block banner %}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style="">Profil Client</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-3"><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Postules <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('exp_liste_postule_active') }}" >Active</a></li>
                    <li><a href="{{ path('exp_liste_postule_archive') }}" >Archivé</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('exp_liste_contrats_en_cours') }}" >En Cours</a></li>
                    <li><a href="{{ path('exp_liste_contrats_termine') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="#" >Statistique</a></li>
        </ul>

        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes</a></li>
                <li class="sanslien"><strong>Mes Postules</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('exp_liste_postule_active') }}" >Active</a></li>
                        <li><a href="{{ path('exp_liste_postule_archive') }}" >Archivé</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('exp_liste_contrats_en_cours') }}" >En Cours</a></li>
                        <li><a href="{{ path('exp_liste_contrats_termine') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="#" >Statistique</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
Client: {{client.nomentrop}} <br>
Logo: <img class="media-object img-thumbnail" src="{{ asset('clientfilesupload/')}}{{client.logoname}}" alt="" width="100" height="100"> <br>
Note: <span id="nzonoteclient"></span> ( {{client.note}} ) <br>
Adresse: {{client.adresse}} <br>
Ville: {{client.ville}} <br>
 ----------------------------- <br>
 
Description: <br> 
{{client.description}} <br>

----------------------------- <br>

<div class="panel panel-default bottom">
            <div class="panel-heading"><strong>Analyse</strong></div>
            <div class="panel-body">
                <div class="row">
                   <div class="col-md-5">
                        <p><span class="red">Nombre Demandes déposé: </span>{{client.nbdemandeexportdepose}}</p>
                        <p><span class="red">Nombre Demande active: </span>{{active}}</p>
                        <p><span class="red">Nombre Contrat En Cours: </span>{{client.nbcontratencours}}</p>
                   </div>
                   <div class="col-md-5">
                       <p><span class="red">Nombre Contrat Terminé: </span>{{client.nbcontrattermine}}</p>
                   </div>
                </div>
             </div>
        </div>

<br>
----------------- <br>
Liste des Contrats: ( {{demandes|length}} ) <br> <br>
{%for key, demande in demandes %}
    {%if demande.terminerdemande is null%}
        {{demande.titre}} <br>
        Contrat En Cours - Type Contrat: {{demande.type}} - {{demande.datetacking|date("d/m/Y")}}
    {%else%}
        {{demande.titre}} | 
        Type Contrat: {{demande.type}} - {{demande.datetacking|date("d/m/Y")}} <br>
        {%if demande.avisexport.avisclient is not null%}
            <span id="nzonotecl{{key}}"></span> {{demande.avisexport.avisclient}}
             <script>
            $(document).ready(function(){           
                 $("#nzonotecl{{key}}").raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{demande.avisexport.noteclient}} }); 
            });    
           </script>
        {%else%}   
           Aucun Avis associer!
       {%endif%}
    {%endif%}
    <br>----------------------------- <br>
{%endfor%}
{% endblock content %}

 
 {% block js %} 
    <script src="{{ asset('bundles/nzotunisiefret/js/jquery.raty.min.js') }}"></script>
    <script>
        $(document).ready(function(){
             $('#nzonoteclient').raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{client.note}} });
        });    
    </script>
{% endblock js %}
