<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}TunisieFret - {% endblock title %}</title>
        <!--To be sure using the latest rendering mode for IE-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- CSS -->
        <link href="{{ asset('bundles/nzotunisiefret/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/nzotunisiefret/css/style.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/nzotunisiefret/css/component.css') }}" rel="stylesheet" media="screen">
         <!--FONT-->
        <link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
       
        <script src="{{asset('bundles/nzotunisiefret/js/jquery-2.0.3.min.js') }}"></script>
        {% block head %}  {% endblock head %}
    </head>
    <body>
           <nav class="bg-menu navbar" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('nzo_tunisiefret_homepage')}}"><img src="{{ asset('bundles/nzotunisiefret/images') }}/logo.png" alt="logo"/></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right nav-style">
                        <li><a href="{{ path('nzo_tunisiefret_homepage') }}">Acceuil</a></li>
                        {% include "NzoUserBundle::connexion.html.twig" %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    {% block body %}
        
        {% block carrousel %}{% endblock carrousel %}
        {% block banner %}{% endblock banner %}
        {#2eme navigateur #}
        <ul class="box nav nav-pills bottom cl-effect-1">
            <li class="col-md-offset-3"><a href="{{ path('nzo_poserdemande_export') }}" >Poser demande export</a></li>
            <li><a href="{{ path('client_list_demande_type') }}">List Demande Type</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Demandes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('nzo_voirlistedemande_export_active') }}" >Active</a></li>
                    <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('client_contrat_terminer') }}" >Terminer</a></li>
                </ul>
            </li>
        </ul>
        {#Container#}
        <section class="container">
            <div class="row">
                <div class="col-md-12 well">
              {% block content %}{% endblock content %}
                    </div>
            </div>
        </section>   
        
        {% block footer %}
            <footer class="footer-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-inline footer-menu">
                            <li><a href="{{path('nzo_tunisiefret_homepage')}}">Acceuil</a></li>
                            <li><a href="{{path('nzo_apropos')}}">A propos de nous</a></li>
                            <li><a href="{{path('nzo_contact')}}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-right copyright">© 2013 Ovynet. All Rights Reserved.</div>
                </div>
            </div>
            <div id="btn_up">
                <img alt="Retour en haut" title="Retour en haut" src="{{ asset('bundles/nzotunisiefret/images') }}/up.png">
            </div>
        </footer>
        {% endblock footer %}

    {% endblock body %} 
    <!--JAVASCRIPT-->

     <script src="{{ asset('bundles/nzotunisiefret/js/bootstrap.js') }}"></script>
     <script src="{{ asset('bundles/nzotunisiefret/js/up.js') }}"></script>
     <script src="{{ asset('bundles/nzotunisiefret/js/modal.js') }}"></script>
     {% block js %}  {% endblock js %}
    </body>
    
</html>