<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}TunisieFret - {% endblock title %}</title>
        <!-- CSS -->
        <!--JAVASCRIPT-->
        <script src="{{ asset('bundles/nzotunisiefret/js/jquery-2.0.3.min.js') }}"></script>
        <!--FONT-->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>
       {% block head %}  {% endblock head %}
    </head>
    <body>
            {% include "NzoUserBundle::connexion.html.twig" %}
        <br>
        <a href="{{ path('nzo_tunisiefret_homepage') }}" > <span> Home </span> </a>
        <br>
        <a href="{{ path('fos_user_profile_edit') }}" > <span> Modifier Profil </span> </a>
        <br>
        <a href="{{ path('fos_user_change_password') }}" > <span> Change Password </span> </a>
        <br>
        <a href="{{ path('nzo_poserdemande_export') }}" > <span> Poser demande export </span> </a>
        <br>
        <a href="{{ path('nzo_voirlistedemande_export') }}" > <span> Voir liste demande export </span> </a>
        <br>
    {% block body %}  

        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="well">
                        {% block content %} {% endblock content %}
                    </div>
                </div>
                {% block footer %}{% endblock footer %}
            </div>
       </div>
    {% endblock body %} 
    </body>
    {% block js %}  {% endblock js %}
</html>