{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Demandes Export Active{% endblock %}
{% block banner %}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style=""> Demandes Export Active </h4>
        </div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="padding">	
    <ul id="breadcrumbs-two">
        <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
        <li><span>Mes Demandes</span></li>
        <li><a href="{{ path('nzo_voirlistedemande_export_active') }}">Active</a></li>
        <li class="current"><span>Détails</span></li>
    </ul>
 <div class="legend2">
     <h4 class="pull-left"><strong>{{mydemande.titre}}</strong></h4>
        <div class="row" style="padding-right: 14px;">
            <div class=" pull-right">
            <!-- Button trigger modal -->
            <a data-toggle="modal" href="#nzomyModal" class="btn btn-danger btn-sm" style="margin-top: 12px;">Annuler la Demande</a>

            <!-- Modal -->
            <div class="modal fade" id="nzomyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Annuler la Demande</h4>
                  </div>
                  <div class="modal-body">
                   <form action="{{path('client_annuler_demande', {'id':mydemande.id})}}" method="POST" role="form" >
                          <div class="form-group">
                            <label>Raison d'annulation</label>
                            <select id="nzoraison" class="form-control" name="annuler_raison">
                                <option value="vbn">raison 1</option>
                                <option value="dd">raison 1</option>
                                <option value="autres">autres</option>
                            </select>
                          </div>
                          <div class="form-group" id="raison" style="display: none">
                              <label>Autre Raison</label>
                              <textarea id="nzotextarea" class="form-control" rows="4" name="annuler_description"></textarea>
                          </div>
                          <div class="row"style="margin-right: 0">
                              <div class="pull-right">
                                <button type="submit" class="btn btn-danger">Confirmer</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                              </div>
                          </div>
                       </form> 
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            </div>
        </div>
    </div>
    <div class="panel panel-default bottom">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6" style="border-right: 1px solid rgb(213, 210, 210);padding: 20px;">
                    <p><strong class="red">Référence : </strong>{{mydemande.reference}} </p>
                    <p><strong class="red">Prix : </strong>{{mydemande.prix}} </p>
                    <p><strong class="red">Pays : </strong>{{mydemande.pays}} </p>
                    <p><strong class="red">Ville : </strong>{{mydemande.ville}} </p>
                </div>
    
                <div class="col-md-6" style="padding: 20px;">
                    <p><strong class="red">Code Postal : </strong>{{mydemande.codepostal}} </p>
                    <p><strong class="red">Adresse : </strong>{{mydemande.adresse}} </p>
                    <p><strong class="red">Date Maximal : </strong>{{mydemande.datemax|date("d/m/Y")}} </p>
                    <p><strong class="red">Date dépôt : </strong>{{mydemande.datedepos|date("d/m/Y")}} </p>
                </div>
             </div>
             <div class="row">
                <div style="padding: 20px;">
                    <hr/>
                    <p><strong class="red">Description : </strong>{{mydemande.description}} </p>
                </div>
             </div>
        </div>
    </div>
    
    <h4 class="legend2 bottom"><strong>Liste Postule: </strong>( {{postules|length}} )</h4>
    
    {#-------Liste postuler------------#}
    {% for postule in postules %} 
    <div class="panel panel-default bottom">
        <div class="panel-body">
            <div class="media">
                <span class="pull-left">
                    <img class="media-object img-thumbnail" src="{{ asset('exportateurfilesupload/')}}{{postule.exportateur.logoname}}" alt="{{postule.exportateur.logoname}}"  width="80">
                </span>
                <div class="media-body">
                    <h4 class="media-heading"><strong>{{postule.exportateur.nomentrop}}</strong></h4>
                    <p style="color: grey">{{postule.datepostule|date("d/m/Y")}}</p>
                    <p class="list-group-item-text cl-effect-1">
                        {% if postule.description|length > 130 %}
                            {{postule.description|slice(0, 130)}}...
                        {%else%}
                            {{postule.description}}
                        {% endif %}
                        <a href="{{path('client_postule_active_detail', {'id':postule.id} )}}" class="pull-right"> Voir détails </a>
                    </p>
               </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
{% block js %}
<script>
    
        $(document).ready(function(){ 
            $("#nzoraison").change(function() {
                if( $("#nzoraison option:selected").val() == "autres" ) 
                     $("#raison").slideDown();
                else {
                  $("#raison").slideUp();
                  $("#nzotextarea").val('');
                }

            });

        });
</script>
{% endblock js %}
 
 