{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Détails Postule Active {% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="">Détails Postule Active</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-2"><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
            <li class="actives dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Demandes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('nzo_voirlistedemande_export_active') }}" >Active</a></li>
                    <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('nzo_poserdemande_export') }}" >Déposer Demande Fret</a></li>
            <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Mes demandes</strong>
                    <ul class="second-drop">
                        <li class="activedrop"><a href="{{ path('nzo_voirlistedemande_export_active') }}">Active</a></li>
                        <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>  
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('nzo_poserdemande_export') }}">Déposer Demande Fret</a></li>
                <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding" style="margin-bottom: 177px;">
    {#----------------breadcrumb----------------#}
    <ul id="breadcrumbs-two">
      <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
      <li><span>Mes Demandes</span></li>
      <li><a href="{{path('nzo_voirlistedemande_export_active')}}">Active</a></li>
      <li class="current"><span>Détails</span></li>
    </ul>
    
    {#----------------Titre de la page----------------#}
    <div class="legend2">
        <h4 class="pull-left">{{postule.demandeexport.titre}} <span class="text-danger">( {{postule.demandeexport.type}} )</span></h4>
        <div class="row" style="padding-right: 14px;">
            <div class="pull-right">
            <!-- Button trigger modal -->
            
            <a data-toggle="modal" href="#nzoEmbaucheModal" class="btn btn-info btn-sm" style="margin-top: 12px;">Embauchez "{{postule.exportateur.nomentrop}}"</a>
            <a data-toggle="modal" href="#nzoAnnulerModal" class="btn btn-primary btn-sm" style="margin-top: 12px;">Annuler votre Demande</a>
            <!-- Modal -->
            <div class="modal fade" id="nzoAnnulerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title"><strong>Annuler votre demande: {{postule.demandeexport.titre}}</strong></h5>
                  </div>
                  <div class="modal-body">
                      <form action="{{path('client_annuler_demande', {'id':postule.demandeexport.id | urlencrypt})}}" method="POST" role="form" >
                          <div class="form-group">
                            <label>Raison d'annulation</label>
                            <select id="nzoraison" class="form-control" name="annuler_raison">
                                <option value="Postules ne répondent pas au besoin">Postules ne répondent pas au besoin</option>
                                <option value="Demande de fret expiré">Demande de fret expiré</option>
                                <option value="Ajouté par erreur">Ajouté par erreur</option>
                                <option value="Autre">Autre</option>
                            </select>
                          </div>
                          <div class="form-group" id="raison" style="display: none">
                              <label>Autre Raison</label>
                              <textarea id="nzotextarea" class="form-control" rows="4" name="annuler_description"></textarea>
                          </div>
                          <div class="row"style="margin-right: 0">
                              <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Confirmer</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                              </div>
                          </div>
                       </form> 
                  </div>
                      
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            
            
           <!-- Modal Embauche-->
            <div class="modal fade" id="nzoEmbaucheModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title"><strong>Confirmation de Contrat de Fret</strong></h5>
                  </div>
                  <div class="modal-body" style="color: black">
                      <form action="{{path('client_contrat_confirmer', {'id':postule.id | urlencrypt})}}" method="POST" role="form" >
                          <p><strong class="red">Demande de fret : </strong> {{postule.demandeexport.titre}}</p>
                          <p><strong class="red">Référence : </strong> {{postule.demandeexport.reference}}</p>
                          <p>Confirmez et commencez cette mission avec <strong class="red">{{postule.exportateur.nomentrop}}</strong></p>
                      
                          <div class="row"style="margin-right: 0">
                              <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Confirmer</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                              </div>
                          </div>
                      </form> 
                  </div>
                      
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal --> 
            </div>
        </div>
    </div>
    
    {#----------------Etat de la demande----------------#}
    <div class="row" style="padding-right: 14px;">
        <h4 class="pull-right red">Etat de la demande: Active</h4>
    </div>
    
    {#----------------Collapse----------------#}
    <div class="row">
        <div class="col-md-6">      
            <div class="panel-group" id="accordion1" style="margin-bottom: 10px">
                {#----------------Détails demande de Fret----------------#}
                <div class="panel panel-default">            
                    <div class="panel-heading">
                      <a data-toggle="collapse" href="#collapseOne">
                        <h4 class="panel-title">
                           Détail de la demande de Fret
                           <img src="{{ asset('bundles/nzotunisiefret/images') }}/down.png" alt="" class="pull-right"/>  
                       </h4>
                      </a>
                    </div>
                          
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong class="red">Réf : </strong>{{postule.demandeexport.reference}} </p>
                                    <p><strong class="red">Prix : </strong>{{postule.demandeexport.prix}} </p>
                                    <p><strong class="red">Pays : </strong>{{postule.demandeexport.pays | country }} </p>
                                    <p><strong class="red">Ville : </strong>{{postule.demandeexport.ville}} </p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong class="red">Code Postal : </strong>{{postule.demandeexport.codepostal}} </p>
                                    <p><strong class="red">Date Maximal : </strong>{{postule.demandeexport.datemax|date("d/m/Y")}} </p>
                                    <p><strong class="red">Date Dépot : </strong>{{postule.demandeexport.datedepos|date("d/m/Y")}} </p>
                                </div>
                            </div>
                            <hr>
                                <p><strong class="red">Adresse : </strong>{{postule.demandeexport.adresse}}</p>
                            <hr>
                            <p><strong class="red">Description : </strong>{{postule.demandeexport.description}} </p>
                        </div>       
                    </div>
                </div> 
            </div>
        </div>
            
        {#----------------Information sue l'Affreteur----------------#}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="text-primary">Informations sur l'Affreteur</h4></div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="pull-left">
                                <a href=""><img class="media-object img-thumbnail" src="{{ asset('exportateurfilesupload/')}}{{postule.exportateur.logoname}}" alt="" width="100" height="100"></a>
                            </div>
                          <div class="media-body">
                              <div class="legend bottom" style="padding-bottom: 29px;">
                                  
                                  <a href="{{path('client_profil_exportateur', {'id':postule.exportateur.id | urlencrypt} )}}"><h4 class="media-heading pull-left">{{postule.exportateur.nomentrop}}</h4></a>
                                <span class="pull-right">
                                    <span id="nzoratingstar"></span> {%if postule.exportateur.note > -1%} <strong>({{postule.exportateur.note}})</strong>{%endif%}
                                </span>
                              </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="red"><strong>Contrats en cours : </strong> {{postule.exportateur.nbcontratencours}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="red"><strong>Contrats terminé : </strong> {{postule.exportateur.nbcontrattermine}}</p>
                                    </div>
                                </div>
                           </div>
                        </div> 
                    </div>
                </div>
            <div class="panel-group" id="accordion2">
            {#----------------Détails Postule----------------#}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        <h4 class="panel-title">
                            Détails Postule de l'Affreteur
                            <img src="{{ asset('bundles/nzotunisiefret/images') }}/down.png" alt="" class="pull-right"/>
                        </h4>
                    </a>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p style="color: grey"><span class="red">Date de Postule :</span> {{postule.datepostule|date("d/m/Y")}} | <span class="red"> Durée :</span> {{postule.duree}} | <span class="red"> Prix :</span> {{postule.prix}} </p>
                        <p>
                          {{postule.description}}
                        </p>
                        <!-- Button trigger modal -->
                        <a data-toggle="modal" href="#nzosignalerModal" class="btn btn-xs btn-default pull-right">Signaler</a>
          
   
                        <!-- Modal Terminer Contrat-->
                         <div class="modal fade" id="nzosignalerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                           <div class="modal-dialog">
                             <div class="modal-content">
                               <div class="modal-header">
                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                 <h5 class="modal-title"><strong>Signaler un prostule</strong></h5>
                               </div>
                               <div class="modal-body" style="color: black">
                                   <form action="{{path('client_signaler_postule', {'id':postule..id | urlencrypt})}}" method="POST" role="form" >
                                       <p>Signaler le postule de <strong class="red">{{postule.exportateur.nomentrop}}</strong></p>
                                       <div class="form-group">
                                         <label>Type</label>
                                         <select class="form-control" name="titre">
                                             <option value="Contenu Inapproprié">Contenu Inapproprié</option>
                                             <option value="Phishing/Fraude">Phishing/Fraude</option>
                                             <option value="SPAM/Faux Profil">SPAM/Faux Profil</option>
                                             <option value="Affréteur demande de travailler en dehors de TunisieFret">Affréteur demande de travailler en dehors de TunisieFret</option>                                             
                                         </select>
                                         </div>          
                                           <div class="form-group">
                                           <label>Description</label>
                                           <textarea class="form-control" rows="4" name="description"></textarea>
                                         </div>
                                       <div class="row"style="margin-right: 0">
                                           <div class="pull-right">
                                             <button type="submit" class="btn btn-primary">Signaler</button>
                                             <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                           </div>
                                       </div>
                                   </form> 
                               </div>

                             </div><!-- /.modal-content -->
                           </div><!-- /.modal-dialog -->
                         </div><!-- /.modal --> 
                    </div>
                  </div>
                </div>
              </div>  
        </div>
    </div>
        
        {#----------------Nombre de message----------------#}
        <h4 class="legend2 bottom">Messages ( <span id='nzonbmsg'>{{msgs|length}}</span> )</h4>

        {#----------------Liste des messges----------------#}
        <div id="scroll" class="row" >
            <div class="col-md-8" id="nzomsgcontent"> 
                {% if msgs is empty %}
                <p class="alert alert-info">Vous n'avez aucun message !</p>
                {%else%}
                {% if msgs|length <= 4 %}   
                    {% for msg in msgs %} 
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {%if msg.client != null %} Moi {%else%} {{msg.exportateur.nomentrop}}{%endif%}
                                    <p class="pull-right">{{msg.date|date("d/m/Y H:i")}}</p>
                                </h3>
                            </div>
                            <div class="panel-body">
                                {{msg.message}}
                            </div>
                        </div>
                    {% endfor %}    
                {% else %}              
                    <!-- First -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                               {%if msgs|first.client != null %} Moi {%else%} {{msgs|first.exportateur.nomentrop}}{%endif%}
                                <p class="pull-right">{{msgs|first.date|date("d/m/Y H:i")}}</p>
                            </h3>
                        </div>
                        <div class="panel-body">
                             {{msgs|first.message}}
                        </div>
                    </div>
                    <!-- BLOCK --> 
                    <div id='nzolengthmsg' class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span > {{msgs|length -2 }} Messages </span>
                            </h3>
                        </div>
                    </div>
                    <!-- Hidden FOR --> 
                    <div id='nzoblockfor' style="display: none; margin-bottom: 5px">
                        {% for msg in msgs %} 
                        {% if msg != msgs|first and msg != msgs|last %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {%if msg.client != null %} Moi {%else%} {{msg.exportateur.nomentrop}}{%endif%}
                                    <p class="pull-right">{{msg.date|date("d/m/Y H:i")}}</p>
                                </h3>
                            </div>
                            <div class="panel-body">
                                 {{msg.message}}
                            </div>
                        </div>
                        {% endif %}  
                      {% endfor %}  
                     </div>          
                    <!-- Last -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {%if msgs|last.client != null %} Moi {%else%} {{msgs|last.exportateur.nomentrop}}{%endif%}
                                <p class="pull-right">{{msgs|last.date|date("d/m/Y H:i")}}</p>
                            </h3>
                        </div>
                        <div class="panel-body">
                             {{msgs|last.message}}
                        </div>
                    </div>
                    <!-- END Last -->
                {% endif %}
                {%endif%}
            </div>
            
               
            <div  class="col-md-4">
                <div id="scrollbox">  
                    <form action="#" id="msgform" method="post" role="form">
                        <div class="form-group">
                            <textarea id="nzomsgexp" required="required" class="form-control" rows="6"></textarea>
                        </div>
                        <div class="buttons-set">
                            <button type="submit" class="btn btn-primary pull-right">Envoyez</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>      
{% endblock content %}
 
 {% block js %} 
    <script src="{{ asset('bundles/nzotunisiefret/js/jquery.raty.min.js') }}"></script>
    <script>
        $(document).ready(function(){
        
            $('#msgform').on('submit',function(c){
                c.preventDefault();
           
            if( $('#nzomsgexp').val() !== '' )             
            {
                $.ajax({
                    url:"{{ path('ajax_send_msg_client') }}",
                    type:"POST",
                    data:{ idmsg:{{postule.id}}, msg:$('#nzomsgexp').val() },
                    dataType:'json',
                    success:function(a)
                    {
                        $('#nzomsgexp').val('');
                        var b='';
                        for(key in a)
                        {
                            b+='<div class="panel panel-info"><div class="panel-heading"><h3 class="panel-title">'
                                +a[key]['user']+'<p class="pull-right">'+a[key]['date']+'</p></h3></div><div class="panel-body">'
                                +a[key]['msg']+'</div></div>';
                        }
                        $('#nzomsgcontent').html(b);
                        $('#nzonbmsg').html( parseInt(key) +1 );
                    },
                    error:function(){}   
                });
            }
            else alert('champs vide!');
            
            });
            
           $('#nzolengthmsg').on('click',function(){ 
                $('#nzolengthmsg').remove();
                $('#nzoblockfor').show();
            }); 
            
            
            $("#nzoraison").change(function() {
                if( $("#nzoraison option:selected").val() == "Autre" ) 
                     $("#raison").slideDown();
                else {
                  $("#raison").slideUp();
                  $("#nzotextarea").val('');
                }

            });
            //Rating Star
            $('#nzoratingstar').raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{postule.exportateur.note}} });
        });
        
        
    </script>
    <script type="text/javascript">
$(window).scroll(function () {
        var ttop = $('#scroll').position().top;
        var hcltb = $('#scroll').height();
        var mtop = $(window).scrollTop();
        if(mtop > ttop) {
         if (mtop < (ttop+hcltb-200))
         { $('#scrollbox').css('top', (mtop-ttop-25));}
         }
 });
        </script>
{% endblock js %}