{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}

{% block title %} {{ parent() }} Client {% endblock %}

{% block head %}
{% endblock head %}

{% block body %}

{% block content %}

<br> Detail Demande Export Postule
<br>
Date Postule: {{postule.datepostule|date("d/m/Y")}} <br>
Liste Msg: <br>
<div id='listmsg'> 
{% for msg in msgs %} 
    {%if msg.client != null %} Moi {%else%} {{msg.exportateur.prenom}} {{msg.exportateur.nom}} {%endif%}| 
    Date msg: {{msg.date|date("d/m/Y H:i")}} | {{msg.message}}
    <br>
{% endfor %}
</div>    
    

<form action="#" id="msgform" method="post">

  <textarea id="nzomsgexp" required="required"></textarea>

    <div class="buttons-set">
        <button type="submit" class="button"><span><span>Envoyez</span></span></button>
    </div>

</form>
    
<script>$(document).ready(function(){$('#msgform').on('submit',function(c){c.preventDefault();if($('#nzomsgexp').val()!='')$.ajax({url:"{{ path('ajax_send_msg_client') }}",type:"POST",data:{id:{{postule.id}},msg:$('#nzomsgexp').val()},dataType:'json',success:function(a){$('#nzomsgexp').val('');var b='';for(key in a){b+=a[key]['user']+' | Date msg: '+a[key]['date']+' | '+a[key]['msg']+'<br>'}$('#listmsg').html(b)},error:function(){alert('erreur')}});else alert('champs vide!')})});</script>
    
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% endblock body %}  
 