{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}

{% block title %} {{ parent() }} Client {% endblock %}

{% block head %}
{% endblock head %}

{% block body %}

{% block content %}

<br> Detail Demande Export Postule
<br>
Date Postule: {{postule.datepostule|date("d/m/Y")}} <br>
Liste Msg: <br>

{% for msg in msgs %} 
    {{msg.id}} | Date msg: {{msg.date|date("d/m/Y H:i")}}
    <br>
{% endfor %}

<form action="#" id="contactForm" method="post" {{ form_enctype(form) }}>

  {{ form_widget(form) }}


    <div class="buttons-set">
        <button type="submit" class="button"><span><span>Envoyez</span></span></button>
    </div>

</form>
    
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% endblock body %}  
 