{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Détails Postule Archive {% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style="">Détails Postule Archive</h4>
        </div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="padding">
    {#----------------breadcrumb----------------#}
    <ul id="breadcrumbs-two">
      <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
      <li><span>Mes Demandes</span></li>
      <li><a href="{{path('nzo_voirlistedemande_export_archive')}}">Archive</a></li>
      <li class="current"><span>Détails</span></li>
    </ul>
    
    {#----------------Titre de la page----------------#}
    <div class="legend2">
        <h4 class="pull-left">Détails Demande Export Archive</h4>
    </div>
    
    {#----------------Etat de la demande----------------#}
    <div class="row" style="padding-right: 14px;">
        <h4 class="pull-right red">Etat de la demande: Archivé</h4>
    </div>
    
    {#----------------Collapse----------------#}
    <div class="row">
        <div class="col-md-6">      
            <div class="panel-group" id="accordion">
                {#----------------Détails demande Export----------------#}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">    
                            <h4 class="panel-title">
                                Détail de la demande d'export
                                <img src="{{ asset('bundles/nzotunisiefret/images') }}/down.png" alt="" class="pull-right"/>
                           </h4>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong class="red">Réf : </strong>{{postule.demandeexport.reference}} </p>
                                    <p><strong class="red">Prix : </strong>{{postule.demandeexport.prix}} </p>
                                    <p><strong class="red">Pays : </strong>{{postule.demandeexport.pays}} </p>
                                    <p><strong class="red">Ville : </strong>{{postule.demandeexport.ville}} </p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong class="red">Code Postal : </strong>{{postule.demandeexport.codepostal}} </p>
                                    <p><strong class="red">Adresse : </strong>{{postule.demandeexport.adresse}} </p>
                                    <p><strong class="red">Date Maximal : </strong>{{postule.demandeexport.datemax|date("d/m/Y")}} </p>
                                    <p><strong class="red">Date Dépôt : </strong>{{postule.demandeexport.datedepos|date("d/m/Y")}} </p>
                               </div>
                            </div>
                            <hr>
                            <p><strong class="red">Description : </strong>{{postule.demandeexport.description}} </p>      
                        </div>
                    </div>
                </div>
                    
                {#----------------Détails Postule----------------#}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <h4 class="panel-title">
                          Détails Postule
                            <img src="{{ asset('bundles/nzotunisiefret/images') }}/down.png" alt="" class="pull-right"/>
                        </h4>
                  </a>  
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p style="color: grey"><span class="red">Date de Postule :</span> {{postule.datepostule|date("d/m/Y")}} | <span class="red">Durée :</span> {{postule.duree}} | <span class="red">Prix :</span> {{postule.prix}} </p>
                        <p>
                          {{postule.description}}
                        </p> 
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
        {#----------------Information sue l'exportateur----------------#}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Informations sur l'exportateur</div>
                    <div class="panel-body">
                               <div class="media">
                            <div class="pull-left">
                                <a href=""><img class="media-object img-thumbnail" src="{{ asset('exportateurfilesupload/')}}{{postule.exportateur.logoname}}" alt="" width="100" height="100"></a>
                            </div>
                          <div class="media-body">
                              <div class="legend bottom" style="padding-bottom: 29px;">
                                  <a href=""><h4 class="media-heading pull-left">{{postule.exportateur.nomentrop}}</h4></a>
                                <span class="pull-right">
                                    <img src="{{ asset('bundles/nzotunisiefret/images') }}/star.png">
                                    <img src="{{ asset('bundles/nzotunisiefret/images') }}/star.png">
                                    <img src="{{ asset('bundles/nzotunisiefret/images') }}/star.png">
                                    <img src="{{ asset('bundles/nzotunisiefret/images') }}/star.png">
                                    <img src="{{ asset('bundles/nzotunisiefret/images') }}/star.png">
                                </span>
                              </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="red"><strong>Contrat en cours : </strong> {{postule.exportateur.nbcontratencours}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="red"><strong>Contrat en terminé : </strong> {{postule.exportateur.nbcontrattermine}}</p>
                                    </div>
                                </div>
                           </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        
        {#----------------Nombre de message----------------#}
        <h4 class="legend2 bottom">Messages ({{msgs|length}})</h4>

        {#----------------Liste des messges----------------#}
        <div class="row">
                {% if msgs|length <= 4 %}   
                    {% for msg in msgs %} 
                        <div class="panel panel-info" id="accordion">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {%if msg.client != null %} Moi {%else%} {{msg.exportateur.prenom}} {{msg.exportateur.nom}} {%endif%}
                                    <p class="pull-right">{{msg.date|date("d/m/Y H:i")}}</p>
                                </h3>
                            </div>
                            <div class="panel-body">
                                {{msg.message}}
                            </div>
                        </div>
                    {% endfor %}    
                {% else %} 
                <div class="panel-group" id="accordion">
                    <!-- First -->
                    <div class="panel panel-info" style=" margin-bottom: 5px">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                               {%if msgs|first.client != null %} Moi {%else%} {{msgs|first.exportateur.prenom}} {{msgs|first.exportateur.nom}} {%endif%}
                                <p class="pull-right">{{msgs|first.date|date("d/m/Y H:i")}}</p>
                            </h3>
                        </div>
                        <div class="panel-body">
                             {{msgs|first.message}}
                        </div>
                    </div>
                    <!-- BLOCK --> 
                    <div id='nzolengthmsg' class="panel panel-warning" style=" margin-bottom: 5px">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span > {{msgs|length -2 }} Messages </span>
                            </h3>
                        </div>
                    </div>
                    <!-- Hidden FOR --> 
                    <div id='nzoblockfor' style="display: none; margin-bottom: 5px">
                        {% for msg in msgs %} 
                        {% if msg != msgs|first and msg != msgs|last %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {%if msg.client != null %} Moi {%else%} {{msg.exportateur.prenom}} {{msg.exportateur.nom}} {%endif%}
                                    <p class="pull-right">{{msg.date|date("d/m/Y H:i")}}</p>
                                </h3>
                            </div>
                            <div class="panel-body">
                                 {{msg.message}}
                            </div>
                        </div>
                        {% endif %}  
                      {% endfor %}  
                     </div>          
                    <!-- Last -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {%if msgs|last.client != null %} Moi {%else%} {{msgs|last.exportateur.prenom}} {{msgs|last.exportateur.nom}} {%endif%}
                                <p class="pull-right">{{msgs|last.date|date("d/m/Y H:i")}}</p>
                            </h3>
                        </div>
                        <div class="panel-body">
                             {{msgs|last.message}}
                        </div>
                    </div>
                    <!-- END Last -->     
                </div>       
                {% endif %}

    </div>
</div>      
{% endblock content %}
 
 {% block js %}  
    <script>
        $(document).ready(function(){
           $('#nzolengthmsg').on('click',function(){ 
                $('#nzolengthmsg').remove();
                $('#nzoblockfor').show();
            });    
        });
    </script>

{% endblock js %}