{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Client {% endblock %}
{% block banner %}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style="">Détails Demandes Export </h4>
        </div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="col-md-8 col-md-offset-2 well">
    <h4>{{mydemande.titre}} </h4>
    <hr>
    <div class="col-md-6">
        <p><strong>Réf : </strong>{{mydemande.reference}} </p>
        <p><strong>Prix : </strong>{{mydemande.prix}} </p>
        <p><strong>Pays : </strong>{{mydemande.pays}} </p>
        <p><strong>Ville : </strong>{{mydemande.ville}} </p>
    </div>
    
    <div class="col-md-6">
        <p><strong>Code Postal : </strong>{{mydemande.codepostal}} </p>
        <p><strong>Adresse : </strong>{{mydemande.adresse}} </p>
        <p><strong>Date Maximal : </strong>{{mydemande.datemax|date("d/m/Y")}} </p>
        <p><strong>Date Pos : </strong>{{mydemande.datedepos|date("d/m/Y")}} </p>
    </div>
    <div class="col-md-12">
    <p><strong>Description : </strong>{{mydemande.description}} </p>
    </div>
    <hr>
    <h4>Liste Postule: </h4>
    <hr>
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Logo</th>  
            <th>Exportateur</th>
            <th>Date De Postule</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
           {% for postule in postules %} 
          <tr>
            <td> <img src="{{ asset('exportateurfilesupload/')}}{{postule.exportateur.logoname}}" width="70" height="70" class="img-thumbnail col-md-offset-3 bottom"> </td>
            <td>{{postule.exportateur.nomentrop}}</td>
            <td>{{postule.datepostule|date("d/m/Y")}}</td>
            <td>
               <a href="{{path('nzo_detaildemande_export_postule', {'id':postule.id} )}}"> Voir Détails </a>
            </td>
         
          </tr>
             {% endfor %}
        </tbody>
      </table>
</div> 
{% endblock content %}
 
 