{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Détails Demande Export Terminé {% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style="">Détails Demande Export Terminé</h4>
        </div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="padding" style="margin-bottom: 177px;">
    {#----------------breadcrumb----------------#}
    <ul id="breadcrumbs-two">
      <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
      <li><span>Mes Demandes</span></li>
      <li><a href="{{path('client_contrat_terminer')}}">Terminé</a></li>
      <li class="current"><span>Détails</span></li>
    </ul>
    
    {#----------------Titre de la page----------------#}
    <div class="legend2">
        <h4 class="pull-left">{{postule.demandeexport.titre}}</h4>
        <div class="row" style="padding-right: 14px;">
            <div class=" pull-right">

            </div>
        </div>
    </div>
    
    {#----------------Etat de la demande----------------#}
    <div class="row" style="padding-right: 14px;">
        <h4 class="pull-right red">Etat de la demande: Terminé</h4>
    </div>
    
    {#----------------Collapse----------------#}
    <div class="row">
        <div class="col-md-6">      
            <div class="panel-group" id="accordion1" style="margin-bottom: 10px">
                {#----------------Détails demande Export----------------#}
                <div class="panel panel-default">            
                    <div class="panel-heading">
                      <a data-toggle="collapse" href="#collapseOne">
                        <h4 class="panel-title">
                           Détail de la demande d'export
                           <img src="{{ asset('bundles/nzotunisiefret/images') }}/down.png" alt="" class="pull-right"/>  
                       </h4>
                      </a>
                    </div>
                          
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong class="red">Réf : </strong>{{postule.demandeexport.reference}} </p>
                                    <p><strong class="red">Prix : </strong>{{postule.demandeexport.prix}} </p>
                                    <p><strong class="red">Pays : </strong>{{postule.demandeexport.pays}} </p>
                                    <p><strong class="red">Ville : </strong>{{postule.demandeexport.ville}} </p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong class="red">Code Postal : </strong>{{postule.demandeexport.codepostal}} </p>
                                    <p><strong class="red">Date Maximal : </strong>{{postule.demandeexport.datemax|date("d/m/Y")}} </p>
                                    <p><strong class="red">Date Dépot : </strong>{{postule.demandeexport.datedepos|date("d/m/Y")}} </p>
                                </div>
                            </div>
                            <hr>
                                <p><strong class="red">Adresse : </strong>{{postule.demandeexport.adresse}}</p>
                            <hr>
                            <p><strong class="red">Description : </strong>{{postule.demandeexport.description}} </p>
                        </div>       
                    </div>
                </div> 
            </div>
            
           <div class="panel-group" id="accordion2">
            {#----------------Détails Postule----------------#}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        <h4 class="panel-title">
                            Détails Postule de l'exportateur
                            <img src="{{ asset('bundles/nzotunisiefret/images') }}/down.png" alt="" class="pull-right"/>
                        </h4>
                    </a>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p style="color: grey"><span class="red">Date de Postule :</span> {{postule.datepostule|date("d/m/Y")}} | <span class="red"> Durée :</span> {{postule.duree}} | <span class="red"> Prix :</span> {{postule.prix}} </p>
                        <p>
                          {{postule.description}}
                        </p> 
                    </div>
                  </div>
                </div>
              </div>
        </div>
            
        {#----------------Information sue l'exportateur----------------#}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Informations sur l'exportateur</div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="pull-left">
                                <a href=""><img class="media-object img-thumbnail" src="{{ asset('exportateurfilesupload/')}}{{postule.exportateur.logoname}}" alt="" width="100" height="100"></a>
                            </div>
                          <div class="media-body">
                              <div class="legend bottom" style="padding-bottom: 29px;">
                                  <a href=""><h4 class="media-heading pull-left">{{postule.exportateur.nomentrop}}</h4></a>
                                <span class="pull-right">
                                    <span id="nzoratingstar"></span> {%if postule.exportateur.note > -1%} <strong>({{postule.exportateur.note}})</strong>{%endif%}
                                </span>
                              </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="red"><strong>Contrats en cours : </strong> {{postule.exportateur.nbcontratencours}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="red"><strong>Contrats terminé : </strong> {{postule.exportateur.nbcontrattermine}}</p>
                                    </div>
                                </div>
                           </div>
                        </div> 
                    </div>
                </div>
              {#----------------Avis et Notes Associé ----------------#}  
               <div class="panel panel-default">
                <div class="panel-heading">Avis et Notes Associé</div>
                    <div class="panel-body">
                        <h4 class="legend2">{{postule.demandeexport.client.nomentrop}}</h4>
                          {%if postule.demandeexport.avisexport.noteclient == null%}                                 
                          <p class="text-success">Avis pas encore associer.</p>
                          {%else%}
                            {%if postule.demandeexport.avisexport.noteexportateur == null%}
                                <p class="text-success">Vous devez associez un Avis afin de voir votre note donner par <strong class="red">"{{postule.exportateur.nomentrop}}"</strong></p> 
                            {%else%}
                                <p><strong class="red">Note Reçu : </strong> <span id="nzoratingstarclient"></span> <strong>({{postule.demandeexport.avisexport.noteclient}})</strong>
                                <p><strong class="red">Avis Reçu : </strong>{{postule.demandeexport.avisexport.avisclient}}</p>
                              {%endif%}  
                          {%endif%}   
                          <hr>
                          <h4 class="legend2">{{postule.exportateur.nomentrop}}</h4>
                          {%if postule.demandeexport.avisexport.noteexportateur == null%}
                          <p class="text-success">Vous n'avez pas encore associer un Avis à "{{postule.exportateur.nomentrop}}".</p>
                          <p><a href="{{path('client_donner_avis_demande_export', {'id':postule.id})}}">Donnez un Avis</a></p>
                          {%else%}   
                          <p><strong class="red">Note Associer : </strong> <span id="nzoratingstarexportateur"></span> <strong>({{postule.demandeexport.avisexport.noteexportateur}})</strong></p>
                          <p><strong class="red">Avis Associer : </strong> {{postule.demandeexport.avisexport.avisexportateur}}</p>
                          {%endif%}   
                    </div>
                </div>
                {#----------------Resultat et Description----------------#}  
               <div class="panel panel-default">
                <div class="panel-heading">Resultat et Synthèse</div>
                    <div class="panel-body">
                        <p><strong class="red">Date fin Mission : </strong> {{postule.demandeexport.terminerdemande.datejobend|date('d/m/Y')}}</p>
                        <p><strong class="red">Résultat : </strong> {{postule.demandeexport.terminerdemande.resultat}}</p>
                        {%if postule.demandeexport.terminerdemande.description is not null %}
                        <p><strong class="red">Synthèse du Mission : </strong> {{postule.demandeexport.terminerdemande.description}}</p>
                        {%endif%}
                    </div>
                </div>
                
            </div>
        </div>
        
        {#----------------Nombre de message----------------#}
        <h4 class="legend2 bottom">Messages ( <span id='nzonbmsg'>{{msgs|length}}</span> )</h4>

        {#----------------Liste des messges----------------#}
        <div id="scroll" class="row" >
            <div class="col-md-8" id="nzomsgcontent"> 
                {% if msgs|length <= 4 %}   
                    {% for msg in msgs %} 
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {%if msg.client != null %} Moi {%else%} {{msg.exportateur.nomentrop}}{%endif%}
                                    <p class="pull-right">{{msg.date|date("d/m/Y H:i")}}</p>
                                </h3>
                            </div>
                            <div class="panel-body">
                                {{msg.message}}
                            </div>
                        </div>
                    {% endfor %}    
                {% else %}              
                    <!-- First -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                               {%if msgs|first.client != null %} Moi {%else%} {{msgs|first.exportateur.nomentrop}}{%endif%}
                                <p class="pull-right">{{msgs|first.date|date("d/m/Y H:i")}}</p>
                            </h3>
                        </div>
                        <div class="panel-body">
                             {{msgs|first.message}}
                        </div>
                    </div>
                    <!-- BLOCK --> 
                    <div id='nzolengthmsg' class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span > {{msgs|length -2 }} Messages </span>
                            </h3>
                        </div>
                    </div>
                    <!-- Hidden FOR --> 
                    <div id='nzoblockfor' style="display: none; margin-bottom: 5px">
                        {% for msg in msgs %} 
                        {% if msg != msgs|first and msg != msgs|last %}
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    {%if msg.client != null %} Moi {%else%} {{msg.exportateur.nomentrop}}{%endif%}
                                    <p class="pull-right">{{msg.date|date("d/m/Y H:i")}}</p>
                                </h3>
                            </div>
                            <div class="panel-body">
                                 {{msg.message}}
                            </div>
                        </div>
                        {% endif %}  
                      {% endfor %}  
                     </div>          
                    <!-- Last -->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {%if msgs|last.client != null %} Moi {%else%} {{msgs|last.exportateur.nomentrop}}{%endif%}
                                <p class="pull-right">{{msgs|last.date|date("d/m/Y H:i")}}</p>
                            </h3>
                        </div>
                        <div class="panel-body">
                             {{msgs|last.message}}
                        </div>
                    </div>
                    <!-- END Last -->
                {% endif %}
            </div>
               
            <div  class="col-md-4">
                <div id="scrollbox">  
                    <form action="#" id="msgform" method="post" role="form">
                        <div class="form-group">
                            <textarea id="nzomsgexp" required="required" class="form-control" rows="6"></textarea>
                        </div>
                        <div class="buttons-set">
                            <button type="submit" class="btn btn-danger pull-right">Envoyez</button>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>      
{% endblock content %}
 
 {% block js %} 
    <script src="{{ asset('bundles/nzotunisiefret/js/jquery.raty.min.js') }}"></script>
    <script>
        $(document).ready(function(){
        
            $('#msgform').on('submit',function(c){
                c.preventDefault();
           
            if( $('#nzomsgexp').val() !== '' )             
            {
                $.ajax({
                    url:"{{ path('ajax_send_msg_client') }}",
                    type:"POST",
                    data:{ id:{{postule.id}}, msg:$('#nzomsgexp').val() },
                    dataType:'json',
                    success:function(a)
                    {
                        $('#nzomsgexp').val('');
                        var b='';
                        for(key in a)
                        {
                            b+='<div class="panel panel-info"><div class="panel-heading"><h3 class="panel-title">'
                                +a[key]['user']+'<p class="pull-right">'+a[key]['date']+'</p></h3></div><div class="panel-body">'
                                +a[key]['msg']+'</div></div>';
                        }
                        $('#nzomsgcontent').html(b);
                        $('#nzonbmsg').html( parseInt(key) +1 );
                    },
                    error:function(){}  
                });
            }
            else alert('champs vide!');
            
            });
            
           $('#nzolengthmsg').on('click',function(){ 
                $('#nzolengthmsg').remove();
                $('#nzoblockfor').show();
            }); 

            //Rating Star
            $('#nzoratingstar').raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{postule.exportateur.note}} });
             {%if postule.demandeexport.avisexport.noteclient is not null%}
                 $('#nzoratingstarclient').raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{postule.demandeexport.avisexport.noteclient}} });
             {%endif%}   
             {%if postule.demandeexport.avisexport.noteexportateur is not null%}
                 $('#nzoratingstarexportateur').raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{postule.demandeexport.avisexport.noteexportateur}} });
             {%endif%}  
            
        });
        
        
    </script>
    <script type="text/javascript">
$(window).scroll(function () {
        var ttop = $('#scroll').position().top;
        var hcltb = $('#scroll').height();
        var mtop = $(window).scrollTop();
        if(mtop > ttop) {
         if (mtop < (ttop+hcltb-200))
         { $('#scrollbox').css('top', (mtop-ttop-25));}
         }
 });
        </script>
{% endblock js %}