{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}

{% block title %} {{ parent() }} Accueil {% endblock %}
{% block banner %}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="">DashBoard</h4>
        </div>
    </div>
</div>

{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="actives col-md-offset-2"><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Demandes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('nzo_voirlistedemande_export_active') }}" >Active</a></li>
                    <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('nzo_poserdemande_export') }}" >Déposer Demande Fret</a></li>
            <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li class="activedrop"><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Mes demandes</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('nzo_voirlistedemande_export_active') }}">Active</a></li>
                        <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>  
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('nzo_poserdemande_export') }}" >Déposer Demande Fret</a></li>
                <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}

<div class="padding">
    <div class="row">
         {# Notif Block#}
            <div id='nzonotice' class="alert alert-success animated fadeInDown" style='display:none;'>
                <span id='spannzonotice'></span>
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            </div>
            {# Notif Block#}
    <div class="col-md-3">
        <div class="panel panel-default bottom">
            <div class="panel-heading"><strong>Profil</strong></div>
            <div class="panel-body">
                <a href="{{ path('fos_user_profile_show') }}">
                    <img class="media-object img-thumbnail col-md-offset-3" src="{{ asset('clientfilesupload/')}}{{app.user.logoname}}" alt="" width="100" height="100">
                    <p class="text-center"><strong>{{app.user.nomentrop}}</strong></p>
                </a>
                <span id="nzoratingstar" class="col-md-offset-2"></span> {%if app.user.note > -1%} <strong>({{app.user.note}})</strong>{%endif%}
                <hr>
                <div class="cl-effect-1">
                    <p><a href="{{ path('client_profil_public') }}">Voir votre Profil Public</a></p>
                    <p><a href="{{ path('fos_user_profile_edit') }}" >Modifier votre Profil</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default bottom">
            <div class="panel-heading"><strong>Analyse</strong></div>
            <div class="panel-body">
                <div class="table-responsive">
                 <table class="table table-bordered">
                        <tr class="active">
                            <th>Demande déposé</th>
                            <th>Demande active</th>
                            <th>Demande Archivé</th>
                            <th>Contrat En Cours</th>
                            <th>Contrat Terminé</th>
                        </tr>
                        <tr>
                            <td>{{app.user.nbdemandeexportdepose}}</td>
                            <td>{{depose|length}}</td>
                            <td>{{nbarchive}}</td>
                            <td>{{app.user.nbcontratencours}}</td>
                            <td>{{app.user.nbcontrattermine}}</td>
                        </tr>
                    </table>
             </div>
             </div>
        </div>
        <div class="panel panel-default bottom">
            <div class="panel-heading"><strong>Dernière Demandes déposé</strong></div>
            <div class="panel-body">
                {% if depose is empty %}
                    <p class="text-success">Aucune demande déposé !</p>
                {% else %}
                
                {%for key,demande in depose if key<3 %}
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-left" ><a href="{{path('client_demande_export_active', {'id':demande.id | urlencrypt} )}}">{{demande.titre}}</a> ( {{demande.demandeexportpostule|length}} ) </span>
                            <span class="pull-right" style="color: grey">Déposé le {{demande.datedepos|date("d/m/Y")}} </span>
                        </div>
                    </div>
                {%endfor%}
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p class="pull-right"> <a href="{{ path('nzo_voirlistedemande_export_active') }}" >Voir tout</a></p>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>

        <div class="panel panel-default bottom">
            <div class="panel-heading"><strong>Dernier contrat En Cours</strong></div>
                <div class="panel-body">
                    {% if encours is empty %}
                        <p class="text-success">Aucun contrat en cours !</p>
                    {% else %}
                    {%for demande in encours %}
                        {%set idpostule = render(controller('NzoTunisiefretBundle:Client:GetPostuleEncoursByDemande', {'id': demande.id | urlencrypt}))%}
                        <div class="row">
                            <div class="col-md-12">
                                <span class="pull-left" ><a href="{{path('client_postule_encours_detail', {'id':idpostule | urlencrypt} )}}">{{demande.titre}}</a> </span>
                                <span class="pull-right" style="color: grey">Déposé le {{demande.datedepos|date("d/m/Y")}} </span>
                            </div>
                        </div>
                    {%endfor%}
                    
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="pull-right"> <a href="{{ path('client_contrat_encours') }}">Voir tout</a></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>   
        </div>
</div>   
</div>
{% endblock content %}

{% block js %} 
    <script src="{{ asset('bundles/nzotunisiefret/js/jquery.raty.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#nzoratingstar').raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{app.user.note}} });
        });   
    </script>
{% endblock js %}