{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Liste Des Demandes Export Type {% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style="">Liste Des Demandes Export Type</h4>
        </div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="padding">
<div class="row" style="padding-right: 16px;padding-left: 16px;">
    <div class="col-md-9 pull-left">
        <ol class="breadcrumb" style="margin: 17px -14px;">
            <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
            <li class="active">Liste Demandes Type</li>
        </ol>
    </div>
   <div class="pull-right">
        {{ knp_pagination_render(listedemandeexporttype) }}
    </div>
</div>
<div class="list-group">
    {% for demande in listedemandeexporttype %}
        <div class="list-group-item" style="padding: 30px;">
            <div class="legend list-group-item-heading">
                <h4 class="pull-left cl-effect-1">
                    <strong><a href="{{path('nzo_detaildemande_export_type', {'id':demande.id} )}}">{{demande.titre}}</a></strong>
                </h4>
                <div class="row" style="padding-right: 14px;">
                    <div class=" pull-right">
                        <a href="{{path('client_reposter_demande_type', {'id':demande.id} )}}" class="btn btn-danger btn-xs"> Reposter</a>
                        <!-- Button trigger modal -->
                        <a data-toggle="modal" href="#nzomyModal" class="btn btn-danger btn-xs" >Supprimer</a>

                        <!-- Modal -->
                        <div class="modal fade" id="nzomyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Supprimer la Demande</h4>
                              </div>
                              <div class="modal-body">
                               Voulez vous supprimer la demande ? 
                              </div>
                              <div class="modal-footer">
                                <a href="{{path('client_supprimer_demande_type', {'id':demande.id} )}}" class="btn btn-primary">Confirmer</a>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>
                </div>
            </div>
            <p style="color: grey;">Déposer le {{demande.datedepos|date("d/m/Y")}}</p>
            <p class="list-group-item-text">
                {% if demande.description|length > 150 %}
                    {{demande.description|slice(0, 150)}}...
                {%else%}
                    {{demande.description}}
                {% endif %}
                <a href="{{path('nzo_detaildemande_export_type', {'id':demande.id} )}}" class="pull-right"> Voir détails </a>
            </p>
              
        </div>
    {% endfor %}
</div>
<div class="row" style="padding-right: 16px;">
    <div class="pull-right">
        {{ knp_pagination_render(listedemandeexporttype) }}
    </div>
</div>
</div>
{% endblock content %} 
 