{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Liste Des Demandes Export Archive {% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style="">Liste Des Demandes Export Archive</h4>
        </div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="padding">
<div class="row" style="padding-right: 16px;">
    <div class="col-md-9 pull-left">
        <ul id="breadcrumbs-two" style="margin-top: 14px;">
            <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
            <li><span>Mes Demandes</span></li>
            <li class="current"><span>Archivé</span></li>
        </ul>
    </div>
   <div class="pull-right">
        {{ knp_pagination_render(listedemandeexport) }}
    </div>
</div>
{% if listedemandeexport is empty %}
   <hr>
   <p class="alert alert-info">Aucune demande d'export archivé existante pour le moment !</p>
{%else%}
<div class="list-group">
     {% for demande in listedemandeexport %}
        <div class="list-group-item" style="padding: 30px;">
            <div class="legend list-group-item-heading">
                <h4 class="cl-effect-1">
                    <strong><a href="{{path('client_demande_export_archive', {'id':demande.id} )}}">{{demande.titre}}</a></strong>
                </h4>  
            </div>
            <p style="color: grey;">Nombre de Postule: {{demande.nombredepostule}} | Déposer le {{demande.datedepos|date("d/m/Y")}}</p>
            <p class="list-group-item-text">
                {% if demande.description|length > 150 %}
                    {{demande.description|slice(0, 150)}}...
                {%else%}
                    {{demande.description}}
                {% endif %}
                <a href="{{path('client_demande_export_archive', {'id':demande.id} )}}" class="pull-right"> Voir détails </a>
            </p>
              
        </div>
    {% endfor %}
</div>
<div class="row" style="padding-right: 16px;padding-left: 16px;">
   <div class="pull-right">
        {{ knp_pagination_render(listedemandeexport) }}
    </div>
</div>
{%endif%}
{% endblock content %} 
 