{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Liste Des Demandes Export Type {% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4"> 
        <div class="row">
            <h4 class="title-banner" style="">Liste Des Demandes Export Type</h4>
        </div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="padding">
<div class="row" style="padding-right: 16px;padding-left: 16px;">
    <div class="col-md-9 pull-left">
        <ol class="breadcrumb" style="margin: 17px -14px;">
            <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
            <li class="active">Liste Demandes Type</li>
        </ol>
    </div>
   <div class="pull-right">
        {{ knp_pagination_render(listedemandeexporttype) }}
    </div>
</div>
<div class="list-group">
    {% for demande in listedemandeexporttype %}
        <div class="list-group-item" style="padding: 30px;">
            <div class="legend list-group-item-heading">
                <h4 class="pull-left cl-effect-1">
                    <strong><a href="{{path('nzo_detaildemande_export_type', {'id':demande.id} )}}">{{demande.titre}}</a></strong>
                </h4>
                <div class="row" style="padding-right: 14px;">
                    <div class=" pull-right">
                        <a href="{{path('client_reposter_demande_type', {'id':demande.id} )}}" class="btn btn-danger btn-xs"> Reposter</a>
                        <a href="{{path('client_supprimer_demande_type', {'id':demande.id} )}}" class="btn btn-danger btn-xs close" data-dismiss="alert"> Supprimer</a>
                    </div>
                </div>
            </div>
            <p style="color: grey;">Déposer le {{demande.datedepos|date("d/m/Y")}}</p>
            <p class="list-group-item-text">
                {% if demande.description|length > 150 %}
                    {{demande.description|slice(0, 150)}}...
                {%else%}
                    {{demande.description}}
                {% endif %}
                <a href="{{path('nzo_detaildemande_export_type', {'id':demande.id} )}}" class="pull-right"> Voir détails </a>
            </p>
              
        </div>
    {% endfor %}
</div>
<div class="row" style="padding-right: 16px;">
    <div class="pull-right">
        {{ knp_pagination_render(listedemandeexporttype) }}
    </div>
</div>
</div>
<script>
    $('.alert').alert('close');
    </script>
{% endblock content %} 
 