{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Déposer Demande de Fret{% endblock %}
{% block banner %}
    <div class="jumbotron">
        <div class="col-md-4"> 
            <div class="row">
                <h4 class="title-banner" style="">Déposer Demande de Fret</h4>
            </div>
        </div>
    </div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-2"><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Demandes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('nzo_voirlistedemande_export_active') }}" >Active</a></li>
                    <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('nzo_poserdemande_export') }}" >Déposer Demande Fret</a></li>
            <li class="actives"><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Mes demandes</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('nzo_voirlistedemande_export_active') }}">Active</a></li>
                        <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>  
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('nzo_poserdemande_export') }}">Déposer Demande Fret</a></li>
                <li class="activedrop"><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
    <ul id="breadcrumbs-two">
        <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
        <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes de Fret Type</a></li>
        <li class="current"><span>Déposer Demande Export type</span></li>
    </ul>
<form action="#" id="contactForm" method="post" {{ form_enctype(form) }} role="form">
    <fieldset>
        <legend class="colorlegend"><strong>Déposez Votre Demande de Fret</strong></legend>  
        {% if(form_errors(form)) %}
            <div class="error-alert"> {{ form_errors(form) }} </div>
        {% endif %}
        <div class="col-md-6">
            <div class="row">
                {#--type---#}
                <div class="form-group">
                    <label>Type <span class="required">*</span></label>
                    {{ form_widget(form.type,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.type)) %}
                  <div class="error-input">{{ form_errors(form.type) }}</div>
                {% endif %}
                
                {#--titre---#}
                <div class="form-group">
                    <label>Titre <span class="required">*</span></label>
                    {{ form_widget(form.titre,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.titre)) %}
                  <div class="error-input">{{ form_errors(form.titre) }}</div>
                {% endif %}

                {#--Adresse---#}
                <div class="form-group">
                    <label>Adresse <span class="required">*</span></label>
                    {{ form_widget(form.adresse,{'attr': {'class': 'form-control', 'rows': '5', 'style': 'resize:none;height: 119px;'}}) }}
                </div>
                {% if(form_errors(form.adresse)) %}
                  <div class="error-input">{{ form_errors(form.adresse) }}</div>
                {% endif %}

                {#--Pays---#}
                <div class="form-group">
                    <label>Pays <span class="required">*</span></label>
                    {{ form_widget(form.pays,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.pays)) %}
                  <div class="error-input">{{ form_errors(form.pays) }}</div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            {#--Ville---#}
            <div class="form-group">
                <label>Ville <span class="required">*</span></label>
                {{ form_widget(form.ville,{'attr': {'class': 'form-control'}}) }}
            </div>
            {% if(form_errors(form.ville)) %}
              <div class="error-input">{{ form_errors(form.ville) }}</div>
            {% endif %}

            {#--Code Postal---#}
            <div class="form-group">
                <label>Code Postal <span class="required">*</span></label>
                {{ form_widget(form.codepostal,{'attr': {'class': 'form-control'}}) }}
            </div>
            {% if(form_errors(form.codepostal)) %}
              <div class="error-input">{{ form_errors(form.codepostal) }}</div>
            {% endif %}

            {#--Date Maximal---#}
            <div class="form-group">
                <label>Date Maximal <span class="required">*</span></label>
                {{ form_widget(form.datemax,{'attr': {'class': 'form-control'}}) }}
            </div>
            {% if(form_errors(form.datemax)) %}
              <div class="error-input">{{ form_errors(form.datemax) }}</div>
            {% endif %}

            {#--Prix---#}
            <div class="form-group">
                <label>Prix</label>
                {{ form_widget(form.prix,{'attr': {'class': 'form-control'}}) }}
            </div>
            {% if(form_errors(form.prix)) %}
              <div class="error-input">{{ form_errors(form.prix) }}</div>
            {% endif %}
        </div>     
        
        {#--Description---#}
        <div class="form-group">
            <label>Description <span class="required">*</span></label>
            {{ form_widget(form.description,{'attr': {'class': 'form-control', 'rows': '5'}}) }}
        </div>
        {% if(form_errors(form.description)) %}
          <div class="error-input">{{ form_errors(form.description) }}</div>
        {% endif %}
          
        {#--Demande Fret Type---#}
        <div class="form-group">
            {{ form_widget(form.demandeexporttype) }} Demande Fret Type
        </div>
          
        <input type="submit" value="Déposer" name="_submit" class="btn btn-danger pull-right">
        <p class="text-danger"><span class="required">*</span> Champs Obligatoire</p>
        {{ form_rest(form) }}
    </fieldset>
</form>
</div>
{% endblock content %}

 