{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}

{% block title %} {{ parent() }} Profil Affreteur {% endblock %}
{% block banner %}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="">Profil Affreteur</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-2"><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Demandes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('nzo_voirlistedemande_export_active') }}" >Active</a></li>
                    <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('nzo_poserdemande_export') }}" >Déposer Demande Fret</a></li>
            <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Mes demandes</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('nzo_voirlistedemande_export_active') }}">Active</a></li>
                        <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>  
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('nzo_poserdemande_export') }}">Déposer Demande Fret</a></li>
                <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{#---------------------contenu-------------------#}
{% block content %}
<div class="padding">
    <div class="row">
        {#---------------------profil exportateur-------------------#}
        <div class="media legend2">
            <span class="pull-left">
                <img class="media-object img-thumbnail" alt="" src="{{ asset('exportateurfilesupload/')}}{{exportateur.logoname}}" style="width: 100px; height: 100px;">
            </span>
            <div class="media-body">
                <h3 class="media-heading">{{exportateur.nomentrop}}</h3>
                <span id="nzonoteexportateur"></span> ( {%if exportateur.note == -1%}Aucune Note associer{%else%}{{exportateur.note}}{%endif%} )
                <hr>
                <p class="small text-muted"><span class="text-danger">Adresse:</span> {{exportateur.adresse}} | <span class="text-danger">Ville:</span> {{exportateur.ville}} </p>
                <h5>{{exportateur.description}}</h5>
            </div>
        </div>
        {#---------------------analyse-------------------#}
        <div class="col-md-3">
            <div class="panel panel-default bottom">
                <div class="panel-heading"><strong>Analyse</strong></div>
                <div class="panel-body">
                    <p><span class="red">Nombre Postules: </span>{{exportateur.nbdemandeexportpostule}}</p>
                    <p><span class="red">Nombre Contrat En Cours: </span>{{exportateur.nbcontratencours}}</p>
                    <p><span class="red">Nombre Contrat Terminé: </span>{{exportateur.nbcontrattermine}}</p>
                </div>
            </div>
        </div>
        {#---------------------liste des contrats-------------------#}
        <div class="col-md-9">
            <div class="panel panel-default bottom">
                <div class="panel-heading"><strong>Liste des Contrats: ( {{contratscours|length + contratstermine|length}} )</strong></div>
                <div class="panel-body">
                {% if contratscours is empty and contratstermine is empty %}
                    <p class="text-success">Aucun contrat effectué</p>
                {% else %}
  
                    {%for postule in contratscours %}
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <span class="text-primary" style="font-size:16px"><strong>{{postule.demandeexport.titre}}</strong> </span>
                                    <span class="pull-right text-muted">{{postule.demandeexport.datetacking|date("d/m/Y")}} </span>
                                </p>
                                <span class="pull-right text-danger"><strong>{{postule.demandeexport.type}}</strong></span>
                                <p class="text-muted">Contrat en cours</p>
                                
                            </div>
                        </div>          
                        <hr>
                    {%endfor%}
                    
                    {%for key, postule in contratstermine %}
                           <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <span class="text-primary"  style="font-size:16px"><strong>{{postule.demandeexport.titre}}</strong> </span>
                                        <span class="pull-right text-muted">{{postule.demandeexport.datetacking|date("d/m/Y")}} </span>
                                    </p>
                                    {#---------------------Note-------------------#}
                                    <p>
                                        <span class="pull-left">
                                            {%if postule.demandeexport.avisexport is not null%}  
                                               {%if postule.demandeexport.avisexport.avisexportateur is not null%}
                                                        <span id="nzonotecl{{key}}"></span> ( {{postule.demandeexport.avisexport.noteclient}} )
                                                    <script>
                                                    $(document).ready(function(){           
                                                        $("#nzonotecl{{key}}").raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{postule.demandeexport.avisexport.noteexportateur}} }); 
                                                    });    
                                                    </script>
                                               {%else%}    
                                                  <span class="text-info">Avis pas encore associer</span>  
                                               {%endif%}     
                                            {%else%}   
                                            <span class="text-info">Avis pas encore associer</span>
                                            {%endif%}
                                        </span>
                                        <span class="pull-right text-danger"><strong>{{postule.demandeexport.type}}</strong></span>
                                    </p>
                                </div>
                              </div>
                              {#---------------------Avis-------------------#}
                              {%if postule.demandeexport.avisexport is not null%}
                                {%if postule.demandeexport.avisexport.avisexportateur is not null%}
                                    <h5> {{postule.demandeexport.avisexport.avisexportateur}} </h5>             
                                {%endif%}
                              {%endif%}
                        <hr>
                    {%endfor%}
                    
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

 {% block js %} 
    <script src="{{ asset('bundles/nzotunisiefret/js/jquery.raty.min.js') }}"></script>
    <script>
        $(document).ready(function(){
             $('#nzonoteexportateur').raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{exportateur.note}} });
        });    
    </script>
{% endblock js %}