{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Resultat Recherche {% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="">Resultat Recherche</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-2"><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Demandes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('nzo_voirlistedemande_export_active') }}" >Active</a></li>
                    <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('nzo_poserdemande_export') }}" >Déposer Demande Fret</a></li>
            <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Mes demandes</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('nzo_voirlistedemande_export_active') }}">Active</a></li>
                        <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>  
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li class="activedrop"><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('nzo_poserdemande_export') }}">Déposer Demande Fret</a></li>
                <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
<div class="row" style="padding-right: 16px;">
    <div class="col-md-9 pull-left">
        <ul id="breadcrumbs-two" style="margin-top: 14px;">
            <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
            <li class="current"><span>Resultat Recherche</span></li>
        </ul>
    </div>
   <div class="pull-right">
        {{ knp_pagination_render(listecontratencours) }}
    </div>
</div>
{% if listecontratencours is empty %}
   <hr>
   <p class="alert alert-info">Aucune resultat trouver!</p>
{%else%}
<div class="list-group">
    {% for demande in listecontratencours %}      
        <div class="list-group-item" style="padding: 30px;">
            <div class="legend list-group-item-heading">
                <h4 class="cl-effect-1"><a href="{{path('client_demande_export_encours_detail', {'id':demande.id | urlencrypt} )}}">{{demande.titre}}</a></h4>  
                
            </div>
            <p style="color: grey;">Nombre de Postule: {{demande.nombredepostule}} | Date Contrat {{demande.datetacking|date("d/m/Y")}}</p>
            <div class="row">
                <span class="list-group-item-text col-md-10">
                    {% if demande.description|length > 150 %}
                        {{demande.description|slice(0, 150)}}...
                    {%else%}
                        {{demande.description}}
                    {% endif %}
                    <a href="{{path('client_demande_export_encours_detail', {'id':demande.id | urlencrypt} )}}" class="pull-right"> Voir détails </a>
                </span>
                <div class="col-md-2 media" style="margin-top: 0;border-left: 1px solid rgb(218, 213, 213)">
                    
                   <a href="{{path('client_profil_exportateur', {'id':demande.ContratEnCoursPostule.exportateur.id | urlencrypt} )}}" class="pull-left"><img class="media-object img-thumbnail" src="{{ asset('exportateurfilesupload/')}}{{demande.ContratEnCoursPostule.exportateur.logoname}}" alt="" width="50" height="100"></a>
                    <a href="{{path('client_profil_exportateur', {'id':demande.ContratEnCoursPostule.exportateur.id | urlencrypt} )}}"><span class="media-body">{{demande.ContratEnCoursPostule.exportateur.nomentrop}}</span></a>
               </div>
            </div>
         </div>
    {% endfor %}
</div>
<div class="row" style="padding-right: 16px;">
    <div class="pull-right">
        {{ knp_pagination_render(listecontratencours) }}
    </div>
</div>
{%endif%}
{% endblock content %}