<html>
    <body>
        <h2><strong>Tunisie Fret</strong></h2>

<strong>Un Message est envoyé par</strong> : {{ nom }}, <strong>Date de l'envoi</strong> :  {{ "now" | date("d-m-Y  -  H:i") }}. <br>

<strong>Email Emetteur</strong> : {{ email }} <br>
<strong>Sujet</strong> : {{ sujet }}<br>
<strong>Contenu</strong>: <br>

<p>
{{ message }}
</p> 
    </body>
</html>


