{% extends "NzoTunisiefretBundle::layout.html.twig" %}

{% block title %} {{ parent() }} contact {% endblock %}

{% block head %}
{% endblock head %}
{% block banner %}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="margin-bottom: 0">contact</h4>
        </div>
    </div>
</div>
{% endblock banner %}

{% block content %}
<div class="padding">
    <div class="col-md-12 col-md-offset-1">
        <form action="#" id="contactForm" method="post" role="form">
        <div class="row">
            <div id='successmsg' class="col-md-9">
            </div>
            <div class="col-md-6 col-lg-5 col-sm-7 col-xs-12" style="border-right: 1px solid rgb(214, 214, 214);">
                <div class="row bottom">
                    <div class="col-md-4 col-lg-4 col-sm-5 col-xs-7">
                        <img src="{{ asset('bundles/nzotunisiefret/images') }}/tel-icon.png" alt="tel"> 22 774 235
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-7 col-xs-9">
                        <img src="{{ asset('bundles/nzotunisiefret/images') }}/mail-icon.png" alt="mail"> tunisiefret@gmail.com
                    </div>
                </div>
                <img src="{{ asset('bundles/nzotunisiefret/images') }}/separator.png" alt="" class="bottom"/>
               
                <div class="col-md-10 col-sm-12 col-xs-12">
                    {#--NOM---#}
                    <div class="form-group">
                        <label>Nom <span class="required">*</span></label>
                        <input type="text" name='nom' class="form-control" required/>
                    </div>
                    {#--Email---#}
                    <div class="form-group">
                        <label>Email <span class="required">*</span></label>
                        <input type="email" name='email' class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-11" style="border-left: 1px solid white;">
                {#--sujet---#}
                    <div class="form-group">
                        <label>Sujet <span class="required">*</span></label>
                        <input type="text" name='sujet' class="form-control" required/>
                    </div>
                    {#--sujet---#}
                    <div class="form-group">
                        <label>Message <span class="required">*</span></label>
                        <textarea class="form-control" name='message' rows="6" required></textarea>
                    </div>
                    <input type="submit" value="Envoyer" class="btn btn-primary pull-right">
                    <p class="text-danger"><span class="required">*</span> Champs Obligatoire</p>
            </div>
        </div>
               
                
        </form>
    </div>
</div>
{% endblock content %}
 
 {% block js %} 
    <script>
        $(document).ready(function(){
        
            $('#contactForm').on('submit',function(){
                var datas = $(this).serialize();
                $.ajax({
                    url:"{{ path('nzo_contact_send') }}",
                    type:"POST",
                    data: datas,
                    success:function(a)
                    {
                        $('#successmsg').html('<div class="alert alert-info text-center"><strong>'+a+'</strong></div> <hr>');                     
                    },
                    error:function(){}   
                });
                return false;
            });
           
        });
              
    </script>
{% endblock js %}
