<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}"  {{ form_enctype(form) }} method="POST" style="padding: 40px">
    <fieldset>
        <legend><strong>Nouveau Mot de passe : </strong></legend>
        {% if form_errors(form)  %}
            <div class="error-alert"> {{form_errors(form)}} </div> 
        {% endif %}        
	<div class="form-group">
            {#--New Password---#}
            <label><strong>Nouveau Mot de Passe</strong> <span class="required">*</span></label>
            {{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control'}})}}
        </div>   
        {#--New Password Confirm---#}
        <div class="form-group">
            <label><strong>Confirmation Mot de Passe</strong> <span class="required">*</span></label>
            {{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control'}})}}
        </div>
            
        {% if(form_errors(form.plainPassword.first)) %}
            <div class="error-input">{{ form_errors(form.plainPassword.first) }}</div>
        {% endif %} 

        {{ form_rest(form) }}
        <input type="submit" value="Edit Password" name="_submit" class="btn btn-primary pull-right">
    </fieldset>
   
</form>
