{% extends "NzoTunisiefretBundle::layoutAdmin.html.twig" %}

{% block title %} {{ parent() }} Detail Client {% endblock %}
{% block banner %}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="">Detail Client</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="actives col-md-offset-2"><a href="{{path('admin_home')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Utilisateurs <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_clients') }}" >Clients</a></li>
                    <li><a href="{{ path('admin_liste_exportateurs') }}" >Affréteurs</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Demandes Fret <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_demande_active') }}" >Active</a></li>
                    <li><a href="{{ path('admin_liste_demande_archive') }}" >Archive</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Contrats Fret <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_demande_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('admin_liste_demande_termine') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('admin_liste_demande_signiale') }}" >Liste Demandes Signalé</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li class="activedrop"><a href="{{path('admin_home')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Utilisateurs</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_clients') }}" >Clients</a></li>
                    <li><a href="{{ path('admin_liste_exportateurs') }}" >Affréteurs</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Demandes Fret</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_demande_active') }}" >Active</a></li>
                    <li><a href="{{ path('admin_liste_demande_archive') }}" >Archive</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Contrats Fret</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_demande_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('admin_liste_demande_termine') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('admin_liste_demande_signiale') }}" >Liste Demandes Signalé</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{#---------------------contenu-------------------#}

{% block content %}
<div class="padding">
    <div class="row">
        {#---------------------profil client-------------------#}
        <div class="media legend2">
            <span class="pull-left">
                <img class="media-object img-thumbnail" alt="" src="{{ asset('clientfilesupload/')}}{{client.logoname}}" style="width: 100px; height: 100px;">
            </span>
            <div class="media-body">
                <h3 class="media-heading">{{client.nomentrop}}</h3>
                <span id="nzonoteclient"></span> ( {%if client.note == -1%}Aucune Note associer{%else%}{{client.note}}{%endif%} )
                <hr>
                <p class="small text-muted">
                    <span class="text-danger">Adresse:</span> {{client.adresse}}
                    | <span class="text-danger">Ville:</span> {{client.ville}} 
                    | <span class="text-danger">Tel:</span> {{client.tel}}
                    | <span class="text-danger">Fax:</span> {{client.fax}}
                    | <span class="text-danger">Site web:</span> {{client.siteweb}}
                </p>
                <h5>{{client.description}}</h5>
            </div>
        </div>
        {#---------------------analyse-------------------#}
        <div class="col-md-3">
            <div class="panel panel-default bottom">
                <div class="panel-heading"><strong>Analyse</strong></div>
                    <table class="table">
                        <tr>
                            <th class="info">Type</th>
                            <th class="info">Nombre</th>
                        </tr>
                        <tr>
                            <td>Demandes déposé</td>
                            <td>{{client.nbdemandeexportdepose}}</td>
                        </tr>
                        <tr>
                            <td>Demande active</td>
                            <td>{{active}}</td>
                        </tr>
                        <tr>
                            <td>Contrat En Cours</td>
                            <td>{{client.nbcontratencours}}</td>
                        </tr>
                        <tr>
                            <td>Contrat Terminé</td>
                            <td>{{client.nbcontrattermine}}</td>
                        </tr>
                    </table>
            </div>
        </div>
        {#---------------------liste des contrats-------------------#}
        <div class="col-md-9">
            <div class="panel panel-default bottom">
                <div class="panel-heading"><strong>Liste des Contrats: ( {{demandes|length}} )</strong></div>
                <div class="panel-body">
                    {% if demandes is empty %}
                        <p class="text-success">Aucun contrat effectué!</p>
                    {% else %}
                    {%for key, demande in demandes %}
                        {%if demande.terminerdemande is null%}
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <span class="text-primary" style="font-size:16px"><strong>{{demande.titre}}</strong> </span>
                                    <span class="pull-right text-muted">{{demande.datetacking|date("d/m/Y")}} </span>
                                </p>
                                <p class="text-muted"><span class="text-danger">Type contrat:</span> {{demande.type}} | Contrat en cours</p>
                            </div>
                        </div>
                        {%else%}
                           <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <span class="text-primary"  style="font-size:16px"><strong>{{demande.titre}}</strong> </span>
                                        <span class="pull-right text-muted">{{demande.datetacking|date("d/m/Y")}} </span>
                                    </p>
                                    {#---------------------Note-------------------#}
                                    <p>
                                        <span class="pull-left">
                                            {%if demande.avisexport is not null%}
                                                {%if demande.avisexport.avisclient is not null%}
                                                        <span id="nzonotecl{{key}}"></span> ( {{demande.avisexport.noteclient}} )
                                                    <script>
                                                    $(document).ready(function(){           
                                                        $("#nzonotecl{{key}}").raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{demande.avisexport.noteclient}} }); 
                                                    });    
                                                    </script>
                                               {%else%}    
                                                  <span class="text-info">Avis pas encore associer!</span>  
                                                {%endif%}     
                                            {%else%}   
                                            <span class="text-info">Avis pas encore associer!</span>
                                            {%endif%}
                                        </span>
                                        <span class="pull-right text-danger"><strong>{{demande.type}}</strong></span>
                                    </p>
                                </div>
                              </div>
                              {#---------------------Avis-------------------#}
                              {%if demande.avisexport is not null%}
                                {%if demande.avisexport.avisclient is not null%}
                                    <h5>{{demande.avisexport.avisclient}}</h5>
                                {%endif%}    
                              {%endif%}
                        {%endif%}
                        <hr>
                    {%endfor%}
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

 {% block js %} 
    <script src="{{ asset('bundles/nzotunisiefret/js/jquery.raty.min.js') }}"></script>
    <script>
        $(document).ready(function(){
             $('#nzonoteclient').raty({ path: '/bundles/nzotunisiefret/images', noRatedMsg: "aucune note associé!", hints: ['', '', '', '', ''], readOnly: true, score: {{client.note}} });
        });    
    </script>
{% endblock js %}
