{% extends "NzoTunisiefretBundle::layoutAdmin.html.twig" %}
{% block title %} {{ parent() }} Liste Des Demandes Fret Archive {% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="">Liste Des Demandes Fret Archive</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="actives col-md-offset-2"><a href="{{path('admin_home')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Utilisateurs <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_clients') }}" >Clients</a></li>
                    <li><a href="{{ path('admin_liste_exportateurs') }}" >Affréteurs</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Demandes Fret <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_demande_active') }}" >Active</a></li>
                    <li><a href="{{ path('admin_liste_demande_archive') }}" >Archive</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Contrats Fret <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_demande_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('admin_liste_demande_termine') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('admin_liste_demande_signiale') }}" >Liste Demandes Signalé</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li class="activedrop"><a href="{{path('admin_home')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Utilisateurs</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_clients') }}" >Clients</a></li>
                    <li><a href="{{ path('admin_liste_exportateurs') }}" >Affréteurs</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Demandes Fret</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_demande_active') }}" >Active</a></li>
                    <li><a href="{{ path('admin_liste_demande_archive') }}" >Archive</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Contrats Fret</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_demande_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('admin_liste_demande_termine') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('admin_liste_demande_signiale') }}" >Liste Demandes Signalé</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
<div class="row" style="padding-right: 16px;">
    {# Notif Block#}
        <div id='nzonotice' class="alert alert-success animated fadeInDown" style='display:none;'>
            <span id='spannzonotice'></span>
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        </div>
    {# Notif Block#}
    <div class="col-md-9 pull-left">
        <ul id="breadcrumbs-two" style="margin-top: 14px;">
            <li><a href="{{path('admin_home')}}">Accueil</a></li>
            <li><span>Liste Demandes</span></li>
            <li class="current"><span>Archivé</span></li>
        </ul>   
    </div>
    <form action="{{path('admin_recherche',{'type':'Archive'})}}" method="GET" role="form" id='avisform' class="navbar-form pull-right" style="padding:0">
        <div class="input-group">
            <input type="text" name='mot' placeholder="Recherche..." class="form-control" style="width: 163px;height: 26px;">
            <button type="submit" class="btn btn-default btn-xs" style="border-radius:0"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </form>
   
</div>
<hr>
<div class="pull-right" style="padding-right: 16px;">
    {{ knp_pagination_render(listedemandeexport) }}
</div>

<div class="row"></div>
{% if listedemandeexport is empty %}
   <hr>
   <p class="alert alert-info">Aucune demande de fret archivé existante !</p>
{%else%}
<div class="list-group">
     {% for demande in listedemandeexport %}
        <div class="list-group-item" style="padding: 30px;">
            <div class="legend list-group-item-heading padding-bottom">
                <h4 class="cl-effect-1 pull-left">
                    <a href="{{path('admin_demande_export_archive', {'id':demande.id | urlencrypt} )}}">{{demande.titre}}</a>
                </h4> 
                <h5 class="pull-right text-danger">{{demande.type}}</h5>
            </div>
            <p style="color: grey;">Nombre de Postule: {{demande.nombredepostule}} | Déposer le {{demande.annulerdemande.dateannuler|date("d/m/Y")}}</p>
            <div class="row">
            <p class="list-group-item-text col-md-10">
                {% if demande.description|length > 150 %}
                    {{demande.description|slice(0, 150)}}...
                {%else%}
                    {{demande.description}}
                {% endif %}
                <a href="{{path('admin_demande_export_archive', {'id':demande.id | urlencrypt} )}}" class="pull-right"> Voir détails </a>
            </p>
            <div class="col-md-2 media" style="margin-top: 0;border-left: 1px solid rgb(218, 213, 213)">
               <a href="{{path('exp_profil_client', {'id':demande.client.id | urlencrypt} )}}" class="pull-left"><img class="media-object img-thumbnail" src="{{ asset('clientfilesupload/')}}{{demande.client.logoname}}" alt="" width="50" height="100"></a>
               <a href="{{path('exp_profil_client', {'id':demande.client.id | urlencrypt} )}}"><span class="media-body">{{demande.client.nomentrop}}</span></a>
            </div> 
            </div>
        </div>
    {% endfor %}
</div>
<div class="row" style="padding-right: 16px;padding-left: 16px;">
   <div class="pull-right">
        {{ knp_pagination_render(listedemandeexport) }}
    </div>
</div>
</div>
{%endif%}
{% endblock content %} 
 