{% extends "NzoTunisiefretBundle::layoutAdmin.html.twig" %}
{% block title %} {{ parent() }} Liste des Affréteurs {% endblock %}

{% block banner %}
{#----------------Bannier de la page----------------#}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="">Liste des Affréteurs</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="actives col-md-offset-2"><a href="{{path('admin_home')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Utilisateurs <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_clients') }}" >Clients</a></li>
                    <li><a href="{{ path('admin_liste_exportateurs') }}" >Affréteurs</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Demandes Fret <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_demande_active') }}" >Active</a></li>
                    <li><a href="{{ path('admin_liste_demande_archive') }}" >Archive</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Contrats Fret <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_demande_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('admin_liste_demande_termine') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('admin_liste_demande_signiale') }}" >Liste Demandes Signalé</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li class="activedrop"><a href="{{path('admin_home')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Utilisateurs</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_clients') }}" >Clients</a></li>
                    <li><a href="{{ path('admin_liste_exportateurs') }}" >Affréteurs</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Demandes Fret</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_demande_active') }}" >Active</a></li>
                    <li><a href="{{ path('admin_liste_demande_archive') }}" >Archive</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Contrats Fret</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_demande_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('admin_liste_demande_termine') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('admin_liste_demande_signiale') }}" >Liste Demandes Signalé</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
    <div class="row bottom" style="padding-right: 16px;">
        {#----------------Arborescence----------------#}
        <div class="col-md-9 pull-left">
            <ul id="breadcrumbs-two" style="margin-top: 14px;">
                <li><a href="{{path('admin_home')}}">Accueil</a></li>
                <li class="current"><span>Liste des Affréteurs</span></li>
            </ul>
        </div>
        {#----------------Pagination----------------#}
        <div class="pull-right">
            {{ knp_pagination_render(listeaffreteurs) }}
        </div>
    </div>

    {#----------------Titre de la page----------------#}
    <div class="legend2">
        <h4>La Liste des Affréteurs</h4>
    </div>

    {#----------------Liste des Affréteurs----------------#}
        <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Affréteur</th>
                    <th>Date Inscrit</th>
                    <th>Nb Demandes Fret Postulé</th>
                    <th>Nb Contrats En Cours</th>
                    <th>Nb Contrats Terminé</th>
                    <th>Etat</th>
                    <th>Options</th>
               </tr>     
            </thead>
            <tbody>
            {% for affreteur in listeaffreteurs %}
                <tr>
                    <td><img class="media-object img-thumbnail" alt="" src="{{ asset('exportateurfilesupload/')}}{{affreteur.logoname}}" style="width: 100px; height: 100px;"></td>
                    <td>{{affreteur.nomentrop}}</td>
                    <td>{{affreteur.dateinscription|date("d/m/Y")}}</td>
                    <td>{{affreteur.nbdemandeexportpostule}}</td>
                    <td>{{affreteur.nbcontratencours}}</td>
                    <td>{{affreteur.nbcontrattermine}}</td>
                    <td>{%if affreteur.enabled%}Activé{%else%}Désactivé{%endif%}</td>
                    <td>
                        <a href="{{path('admin_detail_affreteur', {'id':affreteur.id | urlencrypt} )}}"> Voir |</a>
                        {%if affreteur.enabled%}
                            <a href="{{path('admin_desactive_affreteur', {'id':affreteur.id | urlencrypt} )}}"> Désactiver </a>
                        {%else%}
                            <a href="{{path('admin_active_affreteur', {'id':affreteur.id | urlencrypt} )}}"> Activer </a>
                        {%endif%}    
                    </td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
        </div>

    {#----------------pagination----------------#} 
    <div class="row" style="padding-right: 16px;">
        <div class="pull-right">
            {{ knp_pagination_render(listeaffreteurs) }}
        </div>
     </div>
 
</div>
{% endblock content %} 
 