{% extends "NzoTunisiefretBundle::layoutAdmin.html.twig" %}
{% block title %} {{ parent() }} Signalisation Detail {% endblock %}

{% block banner %}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="">Signalisation Detail</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="actives col-md-offset-2"><a href="{{path('admin_home')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Utilisateurs <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_clients') }}" >Clients</a></li>
                    <li><a href="{{ path('admin_liste_exportateurs') }}" >Affréteurs</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Demandes Fret <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_demande_active') }}" >Active</a></li>
                    <li><a href="{{ path('admin_liste_demande_archive') }}" >Archive</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Contrats Fret <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('admin_liste_demande_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('admin_liste_demande_termine') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('admin_liste_demande_signiale') }}" >Liste Demandes Signalé</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li class="activedrop"><a href="{{path('admin_home')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Utilisateurs</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_clients') }}" >Clients</a></li>
                    <li><a href="{{ path('admin_liste_exportateurs') }}" >Affréteurs</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Demandes Fret</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_demande_active') }}" >Active</a></li>
                    <li><a href="{{ path('admin_liste_demande_archive') }}" >Archive</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Contrats Fret</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('admin_liste_demande_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('admin_liste_demande_termine') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('admin_liste_demande_signiale') }}" >Liste Demandes Signalé</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
<div class="row" style="padding-right: 16px;">
    <div class="col-md-9 pull-left">
        <ul id="breadcrumbs-two" style="margin-top: 14px;">
            <li><a href="{{path('admin_home')}}">Accueil</a></li>
            <li class="current"><span>Signalisation Detail</span></li>
        </ul>   
    </div>
        <div class="row"></div>        
        
        <div class="media legend2">
{% if signale.type=='Signal Postule'%}
            {#----------------logo de la pesonne signalant----------------#}
            <span class="pull-left">
                <img class="media-object img-thumbnail" alt="" src="{{ asset('clientfilesupload/')}}{{signale.client.logoname}}" style="width: 100px; height: 100px;">
            </span>
            
            
            <div class="media-body col-md-9">
                {#----------------nom de signalant----------------#}
                <h4 class="media-heading pull-left"><a href="{{path('admin_detail_client', {'id':signale.client.id | urlencrypt} )}}">Nom signlant : <span class="text-muted">{{signale.client.nomentrop}}</span></a></h4> 
                {#----------------Nom du signalé----------------#}
                <h4 class="media-heading pull-right"><a href="{{path('admin_detail_affreteur', {'id':signale.exportateur.id | urlencrypt} )}}">Nom signlé : <span class="text-muted">{{signale.exportateur.nomentrop}}</span></a></h4> 
                <div class="row"></div>
                <hr>
                <p class="small text-muted">
                    {#----------------titre signalisation----------------#}
                    <span class="text-danger">Titre de signalisation :</span> {{signale.titre}} 
                    {#----------------Type de signalisation----------------#}
                     | <span class="text-danger"> Type :</span> {{signale.type}} 
                     | <span class="text-danger"> Date :</span> {{signale.date|date('d/m/Y')}}
                </p> 
            </div>
            
            {#----------------logo de la pesonne signalé----------------#}
             <span class="pull-right" style="padding-right: 44px;">
                <img class="media-object img-thumbnail" alt="" src="{{ asset('exportateurfilesupload/')}}{{signale.exportateur.logoname}}" style="width: 100px; height: 100px;">
            </span>
        </div>
        
       {#----------------Description de signalisation----------------#}
        <div class="col-md-6">
            <h5 class="text-danger">Description : </h5>
            {{signale.description}}
        </div>
        
        
      <div class="col-md-6">               
        {#----------------Détail de la postule signalé----------------#}
           <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        <h4 class="panel-title">
                            Détails Postule de l'Affreteur
                            <img src="{{ asset('bundles/nzotunisiefret/images') }}/down.png" alt="" class="pull-right"/>
                        </h4>
                    </a>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p style="color: grey"><span class="red">Date de Postule :</span> {{signale.demandeexportpostule.datepostule|date("d/m/Y")}} | <span class="red"> Durée :</span> {{signale.demandeexportpostule.duree}} | <span class="red"> Prix :</span> {{signale.demandeexportpostule.prix}} </p>
                        <p>
                          {{signale.demandeexportpostule.description}}
                        </p>
                        
                    </div>
                  </div>
                </div>
        </div>
{%elseif signale.type=='Signal Demande'%}      
      {#----------------logo de la pesonne signalant----------------#}
            <span class="pull-left">
                <img class="media-object img-thumbnail" alt="" src="{{ asset('exportateurfilesupload/')}}{{signale.exportateur.logoname}}" style="width: 100px; height: 100px;">
            </span>
            
            
            <div class="media-body col-md-9">
                {#----------------nom de signalant----------------#}
                <h4 class="media-heading pull-left"><a href="{{path('admin_detail_affreteur', {'id':signale.exportateur.id | urlencrypt} )}}">Nom signlant : <span class="text-muted">{{signale.exportateur.nomentrop}}</span></a></h4>
                {#----------------Nom du signalé----------------#}
                <h4 class="media-heading pull-right"><a href="{{path('admin_detail_client', {'id':signale.client.id | urlencrypt} )}}">Nom signlé :  <span class="text-muted">{{signale.client.nomentrop}}</span></a></h4> 
                <div class="row"></div>
                <hr>
                <p class="small text-muted">
                    {#----------------titre signalisation----------------#}
                    <span class="text-danger">Titre de signalisation :</span> {{signale.titre}} 
                    {#----------------Type de signalisation----------------#}
                     | <span class="text-danger"> Type :</span> {{signale.type}}
                     | <span class="text-danger"> Date :</span> {{signale.date|date('d/m/Y')}}
                </p> 
            </div>
            
            {#----------------logo de la pesonne signalé----------------#}
             <span class="pull-right" style="padding-right: 44px;">
                 <img class="media-object img-thumbnail" alt="" src="{{ asset('clientfilesupload/')}}{{signale.client.logoname}}" style="width: 100px; height: 100px;">                
            </span>
        </div>
        
       {#----------------Description de signalisation----------------#}
        <div class="col-md-6">
            <h5 class="text-danger">Description : </h5>
            {{signale.description}}
        </div>
        
        
      <div class="col-md-6">   
        {#----------------Détails de la demande signaler----------------#}
       
            <div class="panel-group" id="accordion1" style="margin-bottom: 10px"> 
                <div class="panel panel-default">            
                    <div class="panel-heading">
                      <a data-toggle="collapse" href="#collapseOne">
                        <h4 class="panel-title">
                           Détail de la demande de Fret
                           <img src="{{ asset('bundles/nzotunisiefret/images') }}/down.png" alt="" class="pull-right"/>  
                       </h4>
                      </a>
                    </div>
                          
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong class="red">Réf : </strong>{{signale.demandeexport.reference}} </p>
                                    <p><strong class="red">Prix : </strong>{{signale.demandeexport.prix}} </p>
                                    <p><strong class="red">Pays : </strong>{{signale.demandeexport.pays | country }} </p>
                                    <p><strong class="red">Ville : </strong>{{signale.demandeexport.ville}} </p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong class="red">Code Postal : </strong>{{signale.demandeexport.codepostal}} </p>
                                    <p><strong class="red">Date Maximal : </strong>{{signale.demandeexport.datemax|date("d/m/Y")}} </p>
                                    <p><strong class="red">Date Dépot : </strong>{{signale.demandeexport.datedepos|date("d/m/Y")}} </p>
                                </div>
                            </div>
                            <hr>
                                <p><strong class="red">Adresse : </strong>{{signale.demandeexport.adresse}}</p>
                            <hr>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="{{path('admin_detail_client', {'id':signale.demandeexport.client.id | urlencrypt} )}}"><img class="media-object img-thumbnail" src="{{ asset('clientfilesupload/')}}{{signale.demandeexport.client.logoname}}" alt="" width="80" height="80"></a>
                                </div>
                                <div class="media-body">

                                    <div class="legend bottom">
                                        <a href="{{path('admin_detail_client', {'id':signale.demandeexport.client.id | urlencrypt} )}}"><h4 class="media-heading pull-left">{{signale.demandeexport.client.nomentrop}}</h4></a><br/> 
                                    </div>
                                    <span><strong class="red">Description : </strong>{{signale.demandeexport.description}}</span>
                                </div>
                            </div>
                         </div>       
                    </div>
                </div> 
            </div>
{%endif%}
</div>
</div>

{% endblock content %} 
 