
{% extends "NzoTunisiefretBundle::layoutExportateur.html.twig" %}

{% block title %} {{ parent() }} Changer Mot de Passe {% endblock %}
{% block banner %}
<div class="jumbotron">
    <div class="col-md-4 col-sm-11 col-xs-11"> 
        <div class="row">
            <h4 class="title-banner" style="">Changer Mot de Passe</h4>
        </div>
    </div>
</div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-4"><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Postules <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('exp_liste_postule_active') }}" >Active</a></li>
                    <li><a href="{{ path('exp_liste_postule_archive') }}" >Archivé</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('exp_liste_contrats_en_cours') }}" >En Cours</a></li>
                    <li><a href="{{ path('exp_liste_contrats_termine') }}" >Terminé</a></li>
                </ul>
            </li>
        </ul>

        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}">Liste Demandes</a></li>
                <li class="sanslien"><strong>Mes Postules</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('exp_liste_postule_active') }}" >Active</a></li>
                        <li><a href="{{ path('exp_liste_postule_archive') }}" >Archivé</a></li>
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('exp_liste_contrats_en_cours') }}" >En Cours</a></li>
                        <li><a href="{{ path('exp_liste_contrats_termine') }}" >Terminé</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
    <ul id="breadcrumbs-two">
        <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
        <li class="current"><span>Changer Mot de Passe</span></li>
    </ul>
    <hr>
    <div class="row">
        <form action="{{ path('fos_user_change_password') }}" method="post" class="panel panel-default padding col-lg-6 col-md-offset-3">
            <fieldset>
                <legend class="text-primary"><strong>Changer Votre Mot de Passe</strong></legend>
                {% if form_errors(form)  %}
                    <div class="alert alert-error text-center"> {{form_errors(form)}} </div> 
                {% endif %}

                {#--Password---#}
                <div class="form-group">
                    <label>Ancien Mot de Passe <span class="required">*</span></label>
                    {{ form_widget(form.current_password,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.current_password)) %}
                  <div class="error-input">{{ form_errors(form.current_password) }}</div>
                {% endif %}


                {#--New Password---#}
                <div class="form-group">
                    <label>Nouveau Mot de Passe <span class="required">*</span></label>
                    {{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if form_errors(form.plainPassword.first)  %}
                    <div class="error-input"> {{form_errors(form.plainPassword.first)}} </div> 
                {% endif %}

                {#--Confirmation New Password---#}
                <div class="form-group">
                    <label>Confirmez Nouveau Mot de Passe <span class="required">*</span></label>
                    {{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control'}}) }}
                </div>

                {{ form_rest(form) }}
                <input type="submit" value="Changer Mot de Passe" name="_submit" class="btn btn-primary pull-right">  
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}
