{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Client {% endblock %}
{% block banner %}
    <div class="jumbotron">
        <div class="col-md-4 col-sm-11 col-xs-11"> 
            <div class="row">
                <h4 class="title-banner" style="">Changer Mot de Passe</h4>
            </div>
        </div>
    </div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-2"><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Demandes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('nzo_voirlistedemande_export_active') }}" >Active</a></li>
                    <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('nzo_poserdemande_export') }}" >Déposer Demande Fret</a></li>
            <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Mes demandes</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('nzo_voirlistedemande_export_active') }}">Active</a></li>
                        <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>  
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('nzo_poserdemande_export') }}">Déposer Demande Fret</a></li>
                <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
    <div class="row">
        <form action="{{ path('fos_user_change_password') }}" method="post" class="col-md-6 col-md-offset-3 panel panel-default padding" style="padding: 40px" role="form">
            <fieldset>
                <legend class="text-primary">Changez Votre Mot de Passe</legend>
                {% if form_errors(form)  %}
                    <div class="alert alert-error text-center"> {{form_errors(form)}} </div> 
                {% endif %}

                {#--Current Password---#}
                <div class="form-group">
                    <label>Ancien Mot de Passe <span class="required">*</span></label>
                    {{ form_widget(form.current_password,{'attr': {'class': 'form-control'}}) }}
                </div>  
                {% if form_errors(form.current_password) %}
                    <div class="error-input"> {{form_errors(form.current_password)}} </div> 
                {% endif %}

                {#--New Password---#}
                <div class="form-group">
                    <label>Nouveau Mot de Passe <span class="required">*</span></label>
                    {{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control'}}) }}
                </div>          
                {% if form_errors(form.plainPassword.first)  %}
                    <div class="error-input"> {{form_errors(form.plainPassword.first)}} </div> 
                {% endif %}

                {#--Confirmation New Password---#}
                <div class="form-group">
                    <label>Confirmez Nouveau Mot de Passe <span class="required">*</span></label>
                    {{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control'}}) }}
                </div> 
                {{ form_rest(form) }}
                <input type="submit" value="Changer Mot de Passe" name="_submit" class="btn btn-danger pull-right">  
            </fieldset>
         </form>
    </div>
</div>
{% endblock content %}