{% extends "NzoTunisiefretBundle::layout.html.twig" %}

{% block title %} {{ parent() }} Sign Up {% endblock %}
{% block banner %}
            <div class="jumbotron">
                <div class="col-md-4"> 
                    <div class="row">
                        <h4 class="title-banner" style="">Incription Client </h4>
                    </div>
            </div>
        </div>
        {% endblock banner %}
{% block content %}
<div class="col-md-8 col-md-offset-2">
<form action="{{ path('client_registration') }}" id="contactForm" method="post" {{ form_enctype(form) }} class="well" style="padding: 40px" role="form">
   <fieldset>
        <legend class="colorlegend"><strong>Inscrivez Vous</strong></legend>  
        
        {% if(form_errors(form)) %}
            <div class="alert alert-error text-center"> {{ form_errors(form) }} </div>
        {% endif %}
        <div class="col-md-6"> 
                {#--Nom d'utilisateur---#}
                <div class="form-group">
                    <label>Nom D'utilisateur</label>
                    {{ form_widget(form.username,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.username)) %}
                  <div class="error-input">{{ form_errors(form.username) }}</div>
                {% endif %}

                {#--Email---#}
                <div class="form-group">
                  <label>Email</label>
                    {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.email)) %}
                  <div class="error-input">{{ form_errors(form.email) }}</div>
                {% endif %} 

                {#--Password---#}
                <div class="form-group">
                    <label>Mot de Passe</label>
                    {{ form_widget(form.plainPassword.first,{'attr': {'class': 'form-control'}}) }}                                      
                </div>
                  
               {#--Password Confirm---#}
                <div class="form-group">
                  <label>Confirmez Votre Mot de passe</label>
                  {{ form_widget(form.plainPassword.second,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.plainPassword.first)) %}
                    <div class="error-input">{{ form_errors(form.plainPassword.first) }}</div>
                {% endif %} 

        {#--Entreprise---#}
                <div class="form-group">
                          <label>Nom Entreprise</label>
                    {{ form_widget(form.nomentrop,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.nomentrop)) %}
                  <div class="error-input">{{ form_errors(form.nomentrop) }}</div>
                {% endif %}         

                {#--Ville---#}
                <div class="form-group">
                          <label>Ville</label>
                    {{ form_widget(form.ville,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.ville)) %}
                  <div class="error-input">{{ form_errors(form.ville) }}</div>
                {% endif %}  
                        </div>
                       <div class="col-md-6"> 
                {#--Adresse---#}
                 <div class="form-group">
                      <label>Adresse</label>
                    {{ form_widget(form.adresse,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.adresse)) %}
                  <div class="error-input">{{ form_errors(form.adresse) }}</div>
                {% endif %}    

                {#--Tel---#}
                 <div class="form-group">
                      <label>Téléphone</label>
                    {{ form_widget(form.tel,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.tel)) %}
                  <div class="error-input">{{ form_errors(form.tel) }}</div>
                {% endif %}    

                {#--Fax---#}
                 <div class="form-group">
                      <label>Fax</label>
                    {{ form_widget(form.fax,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.fax)) %}
                  <div class="error-input">{{ form_errors(form.fax) }}</div>
                {% endif %} 

                {#--Website---#}
                 <div class="form-group">
                      <label>Site Web</label>
                    {{ form_widget(form.siteweb,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.siteweb)) %}
                  <div class="error-input">{{ form_errors(form.siteweb) }}</div>
                {% endif %}     

                {#--Description---#}
                 <div class="form-group">
                      <label>Description</label>
                    {{ form_widget(form.description,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.description)) %}
                  <div class="error-input">{{ form_errors(form.description) }}</div>
                {% endif %}  

                {#--Logo---#}
                 <div class="form-group">
                      <label>Logo</label>
                    {{ form_widget(form.uploadlogo,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.uploadlogo)) %}
                  <div class="error-input">{{ form_errors(form.uploadlogo) }}</div>
                {% endif %}        
                           </div>                      
                <input type="submit" value="Sign Up" name="_submit" class="btn btn-primary pull-right">
                       {{ form_rest(form) }}
            </fieldset>
        </form>
        </div>

        {% endblock content %}

