{% extends "NzoTunisiefretBundle::layoutClient.html.twig" %}
{% block title %} {{ parent() }} Modification Profil Client {% endblock %}
{% block banner %}
    <div class="jumbotron">
        <div class="col-md-4 col-sm-11 col-xs-11"> 
            <div class="row">
                <h4 class="title-banner" style="">Modification Profil</h4>
            </div>
        </div>
    </div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-2"><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Demandes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('nzo_voirlistedemande_export_active') }}" >Active</a></li>
                    <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('nzo_poserdemande_export') }}" >Déposer Demande Fret</a></li>
            <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Mes demandes</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('nzo_voirlistedemande_export_active') }}">Active</a></li>
                        <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>  
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('nzo_poserdemande_export') }}">Déposer Demande Fret</a></li>
                <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
    <ul id="breadcrumbs-two">
        <li><a href="{{path('nzo_tunisiefret_homepage')}}">Accueil</a></li>
        <li class="current"><span>Modification Profil</span></li>
    </ul>
    <form action="{{ path('fos_user_profile_edit') }}" id="contactForm" method="post" {{ form_enctype(form) }} role="form">
       <fieldset>
            <legend><strong>Modifiez Votre Profil</strong></legend>  
        
            {% if(form_errors(form)) %}
                <div class="alert alert-error text-center"> {{ form_errors(form) }} </div>
            {% endif %}
            <div class="col-md-4"> 
            <img class="media-object img-thumbnail col-md-offset-3" alt="" src="{{ asset('clientfilesupload/')}}{{app.user.logoname}}" style="width: 150px; height: 150px;">
            <hr style="margin-bottom: 7px;">
                {#--Nom d'utilisateur---#}
                <div class="form-group">
                    <label>Login<span class="required">*</span></label>
                    {{ form_widget(form.username,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.username)) %}
                  <div class="error-input">{{ form_errors(form.username) }}</div>
                {% endif %}

                {#--Email---#}
                <div class="form-group">
                  <label>Email <span class="required">*</span></label>
                    {{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.email)) %}
                  <div class="error-input">{{ form_errors(form.email) }}</div>
                {% endif %} 

                    
                {#--Entreprise---#}
                <div class="form-group">
                    <label>Nom Entreprise <span class="required">*</span></label>
                    {{ form_widget(form.nomentrop,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.nomentrop)) %}
                  <div class="error-input">{{ form_errors(form.nomentrop) }}</div>
                {% endif %}         

            </div>
            <div class="col-md-4">
        
                {#--Ville---#}
                <div class="form-group">
                          <label>Ville <span class="required">*</span></label>
                    {{ form_widget(form.ville,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.ville)) %}
                  <div class="error-input">{{ form_errors(form.ville) }}</div>
                {% endif %} 
                  
                {#--Adresse---#}
                <div class="form-group">
                      <label>Adresse <span class="required">*</span></label>
                    {{ form_widget(form.adresse,{'attr': {'class': 'form-control', 'style': 'height: 129px;'}}) }}
                </div>
                {% if(form_errors(form.adresse)) %}
                  <div class="error-input">{{ form_errors(form.adresse) }}</div>
                {% endif %}    

                {#--Tel---#}
                <div class="form-group">
                    <label>Téléphone <span class="required">*</span></label>
                    {{ form_widget(form.tel,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.tel)) %}
                  <div class="error-input">{{ form_errors(form.tel) }}</div>
                {% endif %}    
                  
                 {#--Fax---#}
                 <div class="form-group">
                      <label>Fax</label>
                    {{ form_widget(form.fax,{'attr': {'class': 'form-control'}}) }}
                </div>
                 {% if(form_errors(form.fax)) %}
                  <div class="error-input">{{ form_errors(form.fax) }}</div>
                {% endif %} 
            </div>
                 
            <div class="col-md-4">
                {#--Website---#}
                 <div class="form-group">
                      <label>Site Web</label>
                    {{ form_widget(form.siteweb,{'attr': {'class': 'form-control'}}) }}
                </div>
                {% if(form_errors(form.siteweb)) %}
                  <div class="error-input">{{ form_errors(form.siteweb) }}</div>
                {% endif %} 
                  
                 {#--Logo---#}
                 <div class="form-group">
                    <label>Logo</label>
                    {{ form_widget(form.uploadlogo,{'attr': {'class': 'form-control'}}) }}
                 </div>
                 {% if(form_errors(form.uploadlogo)) %}
                    <div class="error-input">{{ form_errors(form.uploadlogo) }}</div>
                 {% endif %} 

                {#--Description---#}
                 <div class="form-group">
                    <label>Description</label>
                    {{ form_widget(form.description,{'attr': {'class': 'form-control', 'style': 'height: 229px;'}}) }}
                </div>
                 {% if(form_errors(form.description)) %}
                   <div class="error-input">{{ form_errors(form.description) }}</div>
                 {% endif %}  
            </div>   
                <div class="row"></div>
            <hr>
            <p class="text-danger pull-left"><span class="required">*</span> Champs Obligatoire</p>
            <input type="submit" value="modifier" name="_submit" class="btn btn-primary pull-right">
            {{ form_rest(form) }}
        </fieldset>
    </form>
</div>
{% endblock content %}