{% extends "NzoTunisiefretBundle::layoutAdmin.html.twig" %}
{% block title %} {{ parent() }} Votre Profil {% endblock %}
{% block banner %}
    <div class="jumbotron">
        <div class="col-md-4 col-sm-11 col-xs-11"> 
            <div class="row">
                <h4 class="title-banner" style="">Profil</h4>
            </div>
        </div>
    </div>
{% endblock banner %}
{#---------------------2eme menu-------------------#}
{% block menu %}
<div class="nav-container">
    <div class="box">
        <ul id="bignav" class="nav nav-pills bottom cl-effect-1">     
            <li class="col-md-offset-2"><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Demandes <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('nzo_voirlistedemande_export_active') }}" >Active</a></li>
                    <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Mes Contrats <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                    <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                </ul>
            </li>
            <li><a href="{{ path('nzo_poserdemande_export') }}" >Déposer Demande Fret</a></li>
            <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
        </ul>
        {#-----------select-menu--------------#}
        <div id="dd" class="wrapper-dropdown-5" tabindex="1">MENU
            <ul class="dropdownd">
                <li><a href="{{path('nzo_tunisiefret_homepage')}}" >Dashboard</a></li>
                <li class="sanslien"><strong>Mes demandes</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('nzo_voirlistedemande_export_active') }}">Active</a></li>
                        <li><a href="{{ path('nzo_voirlistedemande_export_archive') }}" >Archivé</a></li>  
                    </ul>
                </li>
                <li class="sanslien"><strong>Mes Contrats</strong>
                    <ul class="second-drop">
                        <li><a href="{{ path('client_contrat_encours') }}" >En Cours</a></li>
                        <li><a href="{{ path('client_contrat_terminer') }}" >Terminé</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('nzo_poserdemande_export') }}">Déposer Demande Fret</a></li>
                <li><a href="{{ path('client_list_demande_type') }}">Liste Demandes Fret Type</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock menu %}
{% block content %}
<div class="padding">
    <div class="row">
        {#---------------------profil client-------------------#}
        <div class="media col-md-6 panel panel-default padding col-md-offset-3">
            <div class="media-body">
                <h5><span class="text-danger">User Name : </span> {{user.username}}</h5>
                <h5><span class="text-danger">Email : </span> {{user.email}}</h5>

            </div>
        </div>
     </div>
</div>                    
{% endblock content %}