 
{% extends "NzoTunisiefretBundle::layoutExportateur.html.twig" %}

{% block title %} {{ parent() }} Exportateur {% endblock %}


{% block content %}
<br>                                           
                          
                            <!--formulaire-->
                            <form action="" id="contactForm">
                                <div class="fieldset">     
                                    
                                    <h2 class="legend">Voir Profil</h2> 
                                    <ul class="form-list">
                                        <li>
                                            <div class="field">
                                                <label>Nom Entreprise: <span>{{user.nomentrop}}</span></label>
                                            </div>
                                           
                                        </li>
                                        <li>
                                            <div class="field">
                                                <label>Ville : <span>{{user.ville}}</span></label>
                                            </div>
                                            <div class="field">
                                                <label>Téléphone fix : <span>{{user.tel}}</span></label>
                                            </div>
                                            
                                        </li>
                                        <li>
                                            <div class="field">
                                                <label>adresse : <span>{{user.adresse}}</span></label>
                                            </div>
                                            <div class="field">
                                                <label>Email : <span>{{user.email}}</span></label>
                                            </div>
                                        </li>                                   
                                    </ul>
         <img src="{{ asset('exportateurfilesupload/')}}{{user.logoname}}" width="200" height="200" alt="alll">                      
                                </div>
                            </form>
{% endblock content %}